<footer>
    <div class="container-fluid">
        <!--p class="copyright pull-right">
         <!--   &copy; {{test | date: 'yyyy'}} <a href="http://www.doureca.com">DOURECA</a>-->
        <!--</p-->
        <p class="copyright pull-right login-footer-text"><a href="https://xpertgo.pt/" style="color: #e6e6e6;"
                target="_blank">XpertGo - Business Solutions Development</a><span style="color: #a6a6a6"> | </span><span
                style="color: #a6a6a6">©2022 </span><a href="https://xpertgo.pt/" style="color: #e6e6e6;"
                target="_blank">Política
                de Privacidade</a>
        </p>
    </div>
</footer>