<app-controlos></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="height: 49px; padding-top: 22px;" data-background-color="red">
            <h4 style="position: absolute;" class="title">Auditorias</h4>
          </div>
          <div class="card-content">
            <form (keydown.enter)="$event.preventDefault()" #form id="formReclama" (ngSubmit)="gravar()"
              ngNativeValidate>
              <div class="container-fluid" style="padding: 0;">


                <div style="display: inline-block; width: 100%;">

                  <div style="padding: 1px 5px 1px 0;" class="form-group col-md-12">
                    <div style="padding: 1px 5px 1px 10px; width: 200px;" class="form-group col-md-4 ">
                      <label>Ano:</label><br>
                      <p-dropdown (onChange)="alteraAno($event)" [options]="anos" class="droplinha"
                        [style]="{'width':'185px','height':'25px'}" [(ngModel)]="ano"
                        [ngModelOptions]="{standalone: true}" [required]="true">
                      </p-dropdown>
                    </div>



                  </div>


                  <div style="padding: 1px 5px 1px 10px; overflow-y: auto;" class="form-group col-md-12">
                    <table class="tg">
                      <tr>
                        <th class="tg-wflh" rowspan="2">Tipo Auditoria</th>
                        <th class="tg-wflh" colspan="3">Total {{ano}}</th>
                        <th class="tg-wfll" colspan="3">Janeiro</th>
                        <th class="tg-wfll" colspan="3">Fevereiro</th>
                        <th class="tg-wfll" colspan="3">Março</th>
                        <th class="tg-wfll" colspan="3">Abril</th>
                        <th class="tg-wfll" colspan="3">Maio</th>
                        <th class="tg-wfll" colspan="3">Junho</th>
                        <th class="tg-wfll" colspan="3">Julho</th>
                        <th class="tg-wfll" colspan="3">Agosto</th>
                        <th class="tg-wfll" colspan="3">Setembro</th>
                        <th class="tg-wfll" colspan="3">Outubro</th>
                        <th class="tg-wfll" colspan="3">Novembro</th>
                        <th class="tg-wfll" colspan="3">Dezembro</th>

                      </tr>
                      <tr>
                        <td class="tg-wflh">Previstas</td>
                        <td class="tg-wflh">Realizadas</td>
                        <td class="tg-wflh">Eficiência</td>

                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>
                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>
                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>
                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>
                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>
                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>
                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>
                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>
                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>
                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>
                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>
                        <td class="tg-gy6f">Previstas</td>
                        <td class="tg-gy6f">Realizadas</td>
                        <td class="tg-gy6f" style="border-right: 2px solid black;">Eficiência</td>

                      </tr>
                      <tr *ngFor="let col of dados_linha">
                        <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                          <b>{{col.tipo_auditoria}}</b>
                        </td>

                        <td class="tg-0pky" style="background-color: #FFE699;">
                          <input [disabled]="true" style="background: none;" type="number" class="form-control2"
                            [(ngModel)]="col.ano_previstas" [ngModelOptions]="{standalone: true}">
                        </td>
                        <td class="tg-0pky" style="background-color: #FFF2CC;">
                          <input [disabled]="true" style="background: none;" type="number" class="form-control2"
                            [(ngModel)]="col.ano_realizadas" [ngModelOptions]="{standalone: true}">
                        </td>
                        <td class="tg-wflh" style="border-right: 2px solid black;">{{col.ano_eficiencia| number:
                          '1.0-0'}}% </td>


                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes1_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz"><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes1_realizadas" (change)="atualizatotais(1)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes1_eficiencia| number: '1.0-0'}}%</td>

                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes2_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz"><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes2_realizadas" (change)="atualizatotais(2)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes2_eficiencia| number: '1.0-0'}}%</td>

                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes3_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz"><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes3_realizadas" (change)="atualizatotais(3)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes3_eficiencia| number: '1.0-0'}}%</td>

                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes4_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz" colrealiz><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes4_realizadas" (change)="atualizatotais(4)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes4_eficiencia| number: '1.0-0'}}%</td>

                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes5_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz"><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes5_realizadas" (change)="atualizatotais(5)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes5_eficiencia| number: '1.0-0'}}%</td>

                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes6_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz"><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes6_realizadas" (change)="atualizatotais(6)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes6_eficiencia| number: '1.0-0'}}%</td>

                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes7_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz"><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes7_realizadas" (change)="atualizatotais(7)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes7_eficiencia| number: '1.0-0'}}%</td>

                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes8_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz"><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes8_realizadas" (change)="atualizatotais(8)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes8_eficiencia| number: '1.0-0'}}%</td>

                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes9_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz"><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes9_realizadas" (change)="atualizatotais(9)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes9_eficiencia| number: '1.0-0'}}%</td>

                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes10_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz"><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes10_realizadas" (change)="atualizatotais(10)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes10_eficiencia| number: '1.0-0'}}%</td>

                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes11_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz"><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes11_realizadas" (change)="atualizatotais(11)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes11_eficiencia| number: '1.0-0'}}%</td>

                        <td class="tg-0pky colprev"><input [disabled]="true" type="number" class="form-control2"
                            [(ngModel)]="col.mes12_previstas" [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colrealiz"><input [disabled]="!modoedicao" type="number"
                            class="form-control2" [(ngModel)]="col.mes12_realizadas" (change)="atualizatotais(12)"
                            [ngModelOptions]="{standalone: true}"></td>
                        <td class="tg-0pky colefic">{{col.mes12_eficiencia| number: '1.0-0'}}%</td>



                      </tr>
                      <tr>
                        <td class="tg-wflh">TOTAL</td>
                        <td class="tg-wflh">{{totalano_previstas}}</td>
                        <td class="tg-wflh">{{totalano_realizadas}}</td>
                        <td class="tg-wflh" style="border-right: 2px solid black;">{{totalano_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes1_previstas}}</td>
                        <td class="tg-llyw">{{totalmes1_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes1_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes2_previstas}}</td>
                        <td class="tg-llyw">{{totalmes2_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes2_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes3_previstas}}</td>
                        <td class="tg-llyw">{{totalmes3_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes3_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes4_previstas}}</td>
                        <td class="tg-llyw">{{totalmes4_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes4_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes5_previstas}}</td>
                        <td class="tg-llyw">{{totalmes5_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes5_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes6_previstas}}</td>
                        <td class="tg-llyw">{{totalmes6_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes6_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes7_previstas}}</td>
                        <td class="tg-llyw">{{totalmes7_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes7_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes8_previstas}}</td>
                        <td class="tg-llyw">{{totalmes8_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes8_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes9_previstas}}</td>
                        <td class="tg-llyw">{{totalmes9_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes9_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes10_previstas}}</td>
                        <td class="tg-llyw">{{totalmes10_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes10_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes11_previstas}}</td>
                        <td class="tg-llyw">{{totalmes11_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes11_eficiencia | number:
                          '1.0-0'}}%</td>

                        <td class="tg-llyw">{{totalmes12_previstas}}</td>
                        <td class="tg-llyw">{{totalmes12_realizadas}}</td>
                        <td class="tg-llyw" style="border-right: 2px solid black;">{{totalmes12_eficiencia | number:
                          '1.0-0'}}%</td>
                      </tr>
                    </table>
                  </div>


                </div>



              </div>





              <button type="reset" (click)="backview()" class="btn btn-danger pull-right"
                [hidden]="!modoedicao">Cancelar</button>
              <button type="submit" class="btn btn-success pull-right" #buttongravar [hidden]="true">Gravar</button>
              <button type="submit" class="btn btn-success pull-right" [hidden]="!modoedicao">Gravar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-danger btn-block" #inputnotifi [hidden]="true"
  onclick="demo.showNotification('top','right','Inseriu com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputgravou [hidden]="true"
  onclick="demo.showNotification('top','right','Alterado com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputapagar [hidden]="true"
  onclick="demo.showNotification('top','right','Apagado com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputerro [hidden]="true"
  onclick="demo.showNotification('top','right','ERRO!! Registo não foi Gravado!',4)"></button>
<button type="button" class="btn btn-danger btn-block" #inputerro2 [hidden]="true"
  onclick="demo.showNotification('top','right','ERRO!! Erro ao Traduzir!',4)"></button>
<button type="button" class="btn btn-danger btn-block" #inputartigoexiste [hidden]="true"
  onclick="demo.showNotification('top','right','Artigo já existe na Lista de Artigos Similares ou é Igual à Referência Principal!',4)"></button>
<button type="button" class="btn btn-danger btn-block" #inputerroficheiro [hidden]="true"
  onclick="demo.showNotification('top','right','ERRO!! Falha no Download!',4)"></button>
<button #escondebt id="editarclick4" data-toggle="modal" [hidden]="true"></button>
<button #alteraeditar id="editarclick2" data-toggle="modal" [hidden]="true"></button>
<button #alteraeditar2 id="editarclick3" data-toggle="modal" [hidden]="true"></button>
<button #alteracancelar id="cancelaclick1" data-toggle="modal" [hidden]="true"></button>

<p-dialog header="Aviso" [responsive]="true" [positionTop]="0" width="700" [dismissableMask]="true" appendTo="body"
  [closeOnEscape]="true" [draggable]="false" [(visible)]="displayverificar" [modal]="true">
  <form role="form">
    <!-- Modal Body -->
    <div style="padding: 0px 50px 0px 50px">
      <span [innerHTML]="mensagem_verifica" style="font-size: 17px;"></span>
    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="displayverificar = false">Fechar</button>

    </div>
  </form>
</p-dialog>