<app-controlos></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Dosificação</h4>
            <p class="category"></p>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12">
                <div class="tab-content" style="padding-top: 0;">
                  <form role="form" ngNativeValidate (ngSubmit)="gravar()">
                    <!-- Modal Body -->

                    <div class="col-md-6 " style="padding: 6px">
                      <div class="form-group col-md-12" style="padding: 0px 18px 0 0;">
                        <label for="INTERVALO_AMPERES">Intervalo de Amperes para a dosificação: </label>
                        <input type="number" class="form-control2" id="INTERVALO_AMPERES"
                          [(ngModel)]="INTERVALO_AMPERES" [ngModelOptions]="{standalone: true}" required
                          [disabled]="!acesso_editar" />
                      </div>
                    </div>
                    <div class="col-md-6 " style="padding: 6px">
                      <div class="form-group col-md-12" style="padding: 0px 18px 0 0;">
                        <label for="HORA_MANUTENCAO_ARRANQUE">Hora da manutenção de arranque: </label>
                        <input type="time" class="form-control2" id="HORA_MANUTENCAO_ARRANQUE"
                          [(ngModel)]="HORA_MANUTENCAO_ARRANQUE" [ngModelOptions]="{standalone: true}" required
                          [disabled]="!acesso_editar" />
                      </div>
                    </div>
                    <div class="col-md-12" style="max-height: 70vh; overflow-y: -webkit-paged-y;"> 
                      <p-dataTable [style]="{'width':'100%'}" [value]="horarios" styleClass="tabelaPostos">
                        <p-column field="HORA" header="Horários de Verificação">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <input type="time" class="form-control2" [(ngModel)]="car['HORA']"
                              required="{standalone: true}" [ngModelOptions]="{standalone: true}" appendTo="body"
                              style="height: 32px; width: 100%; padding: 0 0 0 9px;" />
                          </ng-template>
                        </p-column>

                        <p-column [style]="{'width':'5%'}" styleClass="col-button">
                          <ng-template let-linhaof="rowData" let-index="rowIndex" pTemplate="body">
                            <button type="button" class="ui-button-danger" pButton (click)="eliminar(linhaof,index)"
                              icon="fa-trash"></button>
                          </ng-template>
                        </p-column>
                        <p-footer>
                          <a (click)="adicionar_linha()" style="color: black; cursor:pointer; margin-left:10px;"
                            title="Adicionar nova linha">
                            <i class="material-icons">add</i> Adicionar
                          </a>
                        </p-footer>
                      </p-dataTable>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                      <button [hidden]="!acesso_editar" (click)="backview()" type="reset"
                        class="btn btn-default">Cancelar</button>
                      <button [hidden]="!acesso_editar" id="gravar" type="submit"
                        class="btn btn-success ">Gravar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<button class="btn btn-danger btn-block" #inputgravou [hidden]="true"
  onclick="demo.showNotification('top','right','Alterado com Sucesso!',2)"></button>
<button class="btn btn-danger btn-block" #inputerro [hidden]="true"
  onclick="demo.showNotification('top','right','ERRO!! Registo não foi Gravado!',4)"></button>