
/dist/*
./dist/favicon.ico
./dist/index.html
./dist/polyfills.aef2c435f889702f75d6.bundle.js
./dist/scripts.2fd79ce5f1e06eef44ae.bundle.js
./dist/styles.550d013cf02bf3214120.bundle.css
./dist/vendor.95f5f43c873d2c63a2da.bundle.js
./dist/assets/config/webUrl.ts
./dist/assets/css/bootstrap.min.css
./dist/assets/css/demo.css
./dist/assets/css/demo2.css
./dist/assets/css/flag-icon.min.css
./dist/assets/css/font-awesome.min.css
./dist/assets/css/fontawesome-webfont.svg
./dist/assets/css/fullcalendar.min.css
./dist/assets/css/jqbtk.css
./dist/assets/css/material-dashboard.css
./dist/assets/css/Roboto.css
./dist/assets/flags/4x3/es-ct.svg
./dist/assets/flags/4x3/es.svg
./dist/assets/flags/4x3/fr.svg
./dist/assets/flags/4x3/pt.svg
./dist/assets/flags/4x3/us.svg
./dist/assets/fonts/fontawesome-webfont.eot
./dist/assets/fonts/fontawesome-webfont.ttf
./dist/assets/fonts/fontawesome-webfont.woff
./dist/assets/fonts/fontawesome-webfont.woff2
./dist/assets/fonts/glyphicons-halflings-regular.woff2
./dist/assets/fonts/roboto/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmSU5fBBc4.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmWUlfBBc4.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2
./dist/assets/fonts/roboto/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2
./dist/assets/fonts/roboto/KFOmCnqEu92Fr1Mu4mxK.woff2
./dist/assets/fonts/roboto/KFOmCnqEu92Fr1Mu4WxKOzY.woff2
./dist/assets/fonts/roboto/KFOmCnqEu92Fr1Mu5mxKOzY.woff2
./dist/assets/fonts/roboto/KFOmCnqEu92Fr1Mu7GxKOzY.woff2
./dist/assets/fonts/roboto/KFOmCnqEu92Fr1Mu7mxKOzY.woff2
./dist/assets/fonts/roboto/KFOmCnqEu92Fr1Mu72xKOzY.woff2
./dist/assets/img/6t3jba.png
./dist/assets/img/angular2-logo-red.png
./dist/assets/img/angular2-logo.png
./dist/assets/img/apple-icon.png
./dist/assets/img/color.c7a33805ffda0d32bd2a.png
./dist/assets/img/cover.jpeg
./dist/assets/img/excel-2007-header-bg.gif
./dist/assets/img/excel-2007-header-left.gif
./dist/assets/img/favicon.ico
./dist/assets/img/favicon.png
./dist/assets/img/file-excel.png
./dist/assets/img/file-pdf.png
./dist/assets/img/file-word.png
./dist/assets/img/file.png
./dist/assets/img/gears.gif
./dist/assets/img/logo_empresa.png
./dist/assets/img/logo.jpg
./dist/assets/img/logo.png
./dist/assets/img/logo2.png
./dist/assets/img/mask.png
./dist/assets/img/new_logo.png
./dist/assets/img/sidebar-1.jpg
./dist/assets/img/sidebar-2.jpg
./dist/assets/img/sidebar-3.jpg
./dist/assets/img/sidebar-4.jpg
./dist/assets/img/tim_80x80.png
./dist/assets/img/faces/marc.jpg
./dist/assets/js/arrive.min.js
./dist/assets/js/bootstrap-notify.js
./dist/assets/js/bootstrap.min.js
./dist/assets/js/chartist.min.js
./dist/assets/js/charts.d.ts
./dist/assets/js/charts.js
./dist/assets/js/demo.js
./dist/assets/js/demo2.js
./dist/assets/js/fullcalendar.min.js
./dist/assets/js/initMenu.js
./dist/assets/js/jqbtk.js
./dist/assets/js/jquery-3.1.0.min.js
./dist/assets/js/jquery.js
./dist/assets/js/locale-all.js
./dist/assets/js/material-dashboard.js
./dist/assets/js/material.min.js
./dist/assets/js/moment.min.js
./dist/assets/js/sidebar-moving-tab.js
./dist/assets/sass/material-dashboard.scss
./dist/assets/sass/md/_alerts.scss
./dist/assets/sass/md/_buttons.scss
./dist/assets/sass/md/_cards.scss
./dist/assets/sass/md/_chartist.scss
./dist/assets/sass/md/_checkboxes.scss
./dist/assets/sass/md/_colors.scss
./dist/assets/sass/md/_dialogs.scss
./dist/assets/sass/md/_dropdown.scss
./dist/assets/sass/md/_footers.scss
./dist/assets/sass/md/_forms.scss
./dist/assets/sass/md/_inputs-size.scss
./dist/assets/sass/md/_inputs.scss
./dist/assets/sass/md/_misc.scss
./dist/assets/sass/md/_mixins.scss
./dist/assets/sass/md/_navbars.scss
./dist/assets/sass/md/_pills.scss
./dist/assets/sass/md/_popups.scss
./dist/assets/sass/md/_radios.scss
./dist/assets/sass/md/_responsive.scss
./dist/assets/sass/md/_ripples.scss
./dist/assets/sass/md/_shadows.scss
./dist/assets/sass/md/_sidebar-and-main-panel.scss
./dist/assets/sass/md/_tables.scss
./dist/assets/sass/md/_tabs.scss
./dist/assets/sass/md/_togglebutton.scss
./dist/assets/sass/md/_typography.scss
./dist/assets/sass/md/_variables.scss
./dist/assets/sass/md/mixins/_chartist.scss
./dist/assets/sass/md/mixins/_transparency.scss
./dist/assets/sass/md/mixins/_vendor-prefixes.scss
./dist/assets/sass/md/plugins/_animate.scss
./dist/assets/sass/md/plugins/_plugin-nouislider.scss
