<!--<app-controlos></app-controlos>-->
<div class="main-content" id="mainpagecontent">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!--<div class="card-header" data-background-color="red">
            <h4 class="title">Parâmetros Aplicação</h4>
            <p class="category"></p>
          </div>-->
          <div class="card-content">
            <div class="row">
              <div class="col-md-12">
                <div class="tab-content">
                  <form role="form" ngNativeValidate (ngSubmit)="getFile()">
                    <!-- Modal Body -->
                    <div class="col-md-12 " style="padding: 6px">
                      <h5 style="margin: 0; ">Ficheiros Manutenções (Interface)</h5>
                      <hr style="margin: 0px 0 7px 0;" />

                      <div class="col-md-12">
                        <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-6 col-lg-6">
                          <label style="display: -webkit-box;">Data Manutenção entre</label>
                          <p-calendar dateFormat="yy-mm-dd" placeholder="yyyy-mm-dd" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="2000:2050" [(ngModel)]="datainicio" [ngModelOptions]="{standalone: true}"
                            [showIcon]="true" [required]="true"></p-calendar>
                          <input style="width:82px; margin-left:29px; padding: 5px 4px; margin-right: 10px;"
                            [(ngModel)]="horainicio" [ngModelOptions]="{standalone: true}" type="time" class="ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                            ng-reflect-ng-class="ui-inputtext ui-widget ui-stat" required="true" placeholder="hh:mm">

                          <label style="position: absolute; top: 0;">e:</label>
                          <p-calendar dateFormat="yy-mm-dd" placeholder="yyyy-mm-dd" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="2000:2050" [(ngModel)]="datafim" [ngModelOptions]="{standalone: true}"
                            [showIcon]="true" [required]="true"></p-calendar>
                          <input style="width:82px; margin-left:29px; padding: 5px 4px;" [(ngModel)]="horafim"
                            [ngModelOptions]="{standalone: true}" type="time" class="ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                            ng-reflect-ng-class="ui-inputtext ui-widget ui-stat" required="true" placeholder="hh:mm">
                        </div>
                        <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-6 col-lg-4">
                          <label>IP (ip do posto de impressão):</label>
                          <input type="text" class="form-control2" required="true" [(ngModel)]="ip" [ngModelOptions]="{standalone: true}">
                        </div>

                      </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                      <button (click)="backview()" type="reset" class="btn btn-default">Cancelar</button>
                      <button class="btn btn-success" [disabled]="loading" type="submit">Download Ficheiros</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<button class="btn btn-danger btn-block" #inputgravou [hidden]="true" onclick="demo.showNotification('top','right','Etiqueta Impressa com Sucesso!',2)"></button>

<button class="btn btn-danger btn-block" #inputerro [hidden]="true" onclick="demo.showNotification('top','right','ERRO!! Erro no Download!',4)"></button>


<p-dialog [responsive]="true" [closable]="false" styleClass="dialogloading" [positionTop]="0" [style]="{'max-height':'99vh','background': 'transparent','border': 'none','box-shadow': 'none'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="loading" [modal]="true">
  <div class="container">
    <div class="row">
      <div id="loading">
        <ul class="bokeh">
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</p-dialog>