<div class="main-content" *ngIf="!mod_prod">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <p-chart type="bar" [data]="data"></p-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <p-chart type="line" [data]="data1"></p-chart>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>
                    <input type="tel" class="keyboard form-control keyboard-numpad" id="number1">
                </p>
                <p>
                    <input type="text" class="keyboard form-control" id="default">
                </p>
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="purple">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#profile" data-toggle="tab">
                                            <i class="material-icons">bug_report</i>
                                            Bugs
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#messages" data-toggle="tab">
                                            <i class="material-icons">code</i>
                                            Website
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#settings" data-toggle="tab">
                                            <i class="material-icons">cloud</i>
                                            Server
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes" checked>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task"
                                                    class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task"
                                                    class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging
                                                rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task"
                                                    class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes" checked>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task"
                                                    class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes" checked>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging
                                                rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task"
                                                    class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task"
                                                    class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="settings">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task"
                                                    class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes" checked>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging
                                                rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task"
                                                    class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task"
                                                    class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove"
                                                    class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">Employees Stats</h4>
                        <p class="category">New employees on 15th September, 2016</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Country</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dakota Rice</td>
                                    <td>$36,738</td>
                                    <td>Niger</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Minerva Hooper</td>
                                    <td>$23,789</td>
                                    <td>Curaçao</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sage Rodriguez</td>
                                    <td>$56,142</td>
                                    <td>Netherlands</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Philip Chaney</td>
                                    <td>$38,735</td>
                                    <td>Korea, South</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content" *ngIf="mod_prod">
    <div class="container-fluid" style="position: absolute;     bottom: 0;">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <img src="assets/img/logo_doureca.png" style="width:60%; margin-bottom: 21px; opacity: 0.3;" />
            </div>
        </div>
    </div>

    <!--div class="container" style="margin: 0; width: 100%;">
        <div class="well well-sm">
            <strong>Favoritos</strong>
            <div style="width: 199px; float: right; margin-top: -12px;">
                <a (click)="alterar_lista(true)" id="list" class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-th-list">
                    </span>List</a>
                <a (click)="alterar_lista(false)" id="grid" class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-th"></span>Grid</a>
            </div>
        </div>
        <div id="products" class="row list-group" style="margin: 0;">
            <div *ngFor="let fav of favoritos" class="item  col-xs-4 col-lg-4"
                [ngClass]="(list)?'list-group-item':'grid-group-item'">
                <div class="thumbnail">
                    <div class="caption">
                        <a [routerLink]="[fav.url]" class="group inner list-group-item-heading">
                            {{fav.descricao}}</a>
                    </div>
                </div>
            </div>



        </div>
    </div-->
    <div class="col-md-3 col-lg-3 col-sm-12" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-content table-responsive">
                <div id="products" class="row list-group" style="margin: 0; margin-top: 7px;">
                    <div class="mini-stat clearfix">
                        <span class="mini-stat-icon orange"><i class="fa fa-users"></i></span>
                        <div class="mini-stat-info">
                            <span>{{total_acoes}}</span>
                            Nº de Ações
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-content table-responsive">
                <div id="products" class="row list-group" style="margin: 0; margin-top: 7px;">
                    <div class="mini-stat clearfix">
                        <span class="mini-stat-icon orange"><i class="fa fa-users"></i></span>
                        <div class="mini-stat-info">
                            <span>{{total_acoes_pendentes}}</span>
                            Nº de Ações Pendentes
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-content table-responsive">
                <div id="products" class="row list-group" style="margin: 0; margin-top: 7px;">
                    <div class="mini-stat clearfix">
                        <span class="mini-stat-icon orange"><i class="fa fa-users"></i></span>
                        <div class="mini-stat-info">
                            <span>{{total_acoes_em_curso}}</span>
                            Nº de Ações em Curso
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-content table-responsive">
                <div id="products" class="row list-group" style="margin: 0; margin-top: 7px;">
                    <div class="mini-stat clearfix">
                        <span class="mini-stat-icon orange"><i class="fa fa-users"></i></span>
                        <div class="mini-stat-info">
                            <span style="color: red">{{total_acoes_em_atraso}}</span>
                            Nº de Ações em Atraso
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-lg-8 col-sm-12">
        <div class="card">
            <div class="card-header" data-background-color="gray"
                style="width: 100%; margin-left: 0; background: #e1e1e1;">
                <h4 class="title" style="font-weight: 700; color: #3C4858; font-size: 14px;">
                    <span _ngcontent-c1="" class="glyphicon glyphicon-tasks">
                    </span>
                    Tarefas
                </h4>
                <!--<a class="btn icon-btn btn-default" [routerLink]="['/teste2']" style="background: white; color: black; position: absolute; top: -26px; right: 20px;">
              <span style="color: black;" class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Criar</a>-->
            </div>
            <div class="card-content table-responsive">
                <form #form id="formReclama" (ngSubmit)="atualizar()">
                    <div style="padding: 10px 5px 7px 10px;" class="form-group col-lg-12 formhometarefas">
                        <div class="ui-g-12" style="float: left; padding-top: 10px;">
                            <h4 class="title" style="font-weight: 700; color: #3C4858; font-size: 14px;">Filtro:</h4>
                        </div>

                        <div class="ui-g-12" style="float: left; margin-left: 10px;">
                            <p-checkbox name="group4" value="u" label="Minhas" [(ngModel)]="tipo_utl"></p-checkbox>
                        </div>
                        <div class="ui-g-12" style="float: left; margin-left: 10px;">
                            <p-checkbox name="group4" value="g" label="Grupo" [(ngModel)]="tipo_utl"></p-checkbox>
                        </div>
                        <div class="ui-g-12" style="float: left; margin-left: 10px;">
                            <p-checkbox name="group4" value="s" label="Sector" [(ngModel)]="tipo_utl"></p-checkbox>
                        </div>
                        <div class="ui-g-12" style="float: left;  margin-left: 10px;">
                            <p-checkbox name="group4" value="t" label="Todas" [(ngModel)]="tipo_utl"></p-checkbox>
                        </div>
                        <div class="ui-g-12" style="float: left;  margin-left: 10px;">
                            <button type="submit" class="btn btn-success pull-right"
                                style="height: 23px; padding-top: 5px; margin: 0; background: #37414b;">Aplicar</button>
                        </div>
                    </div>

                </form>
                <p-dataTable class="tabelahometarefa2" [style]="{'min-height':'100px'}" [value]="cols" dataKey="id"
                    [paginator]="false" [pageLinks]="3" [rowsPerPageOptions]="[25,50,100,'todos']">

                    <p-headerColumnGroup>
                        <p-row>
                            <p-column header="Nome Tarefa" rowspan="2"></p-column>
                            <p-column [style]="{'width':'500px'}" header="Origem" [colspan]="total_colspan"></p-column>
                        </p-row>
                        <p-row>
                            <p-column *ngIf="sow_col1" [style]="{'padding':'0'}" header="Reclamações Clientes"
                                colspan="1"></p-column>
                            <p-column *ngIf="sow_col2" [style]="{'padding':'0'}" header="Reclamações Fornecedores"
                                colspan="1">
                            </p-column>
                            <p-column *ngIf="sow_col3" [style]="{'padding':'0'}" header="Amostras" colspan="1">
                            </p-column>
                            <p-column *ngIf="sow_col4" [style]="{'padding':'0'}" header="Planos de Ação" colspan="1">
                            </p-column>
                            <p-column *ngIf="sow_col5" [style]="{'padding':'0'}" header="Planos Estratégicos"
                                colspan="1"></p-column>
                            <p-column *ngIf="sow_col6" [style]="{'padding':'0'}" header="Derrogações" colspan="1">
                            </p-column>
                        </p-row>
                    </p-headerColumnGroup>

                    <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="tarefa" header="#">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                            <span (click)="goToTarefas(car['id_tarefa'],null)"
                                title="{{car['tarefa'] }}">{{car['tarefa']}}</span>
                            <span style="color: #ffa91f; font-size: 10px;" (click)="goToTarefas(car['id_tarefa'],null)"
                                class="glyphicon glyphicon-share-alt"></span>
                            <!--a (click)="atualizaTarefa(car['id_tarefa'])">{{car['tarefa'] }}</a-->
                        </ng-template>
                    </p-column>
                    <p-column *ngIf="sow_col1" [sortable]="true" [filter]="true" styleclass="text-danger"
                        field="reclamacoes_clientes">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                            <span class="goToTarefas_title"
                                (click)="goToTarefas(car['id_tarefa'],'reclamacoes_clientes')"
                                title="{{car['title1'] }}">{{car['reclamacoes_clientes'] }}
                                <span style="color: red;" *ngIf="car['tarefas_atraso'] > 0"> -
                                    {{car['tarefas_atraso']}}</span></span>
                        </ng-template>
                    </p-column>
                    <p-column *ngIf="sow_col2" [sortable]="true" [filter]="true" styleclass="text-danger"
                        field="reclamacoes_fornecedores">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                            <span class="goToTarefas_title"
                                (click)="goToTarefas(car['id_tarefa'],'reclamacoes_fornecedores')"
                                title="{{car['title2'] }}">{{car['reclamacoes_fornecedores'] }}
                                <span style="color: red;" *ngIf="car['tarefas_atraso_fornecedores'] > 0"> -
                                    {{car['tarefas_atraso_fornecedores']}}</span></span>
                        </ng-template>
                    </p-column>
                    <p-column *ngIf="sow_col3" [sortable]="true" [filter]="true" styleclass="text-danger"
                        field="amostras">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                            <span class="goToTarefas_title" (click)="goToTarefas(car['id_tarefa'],'amostras')"
                                title="{{car['title3'] }}">{{car['amostras'] }}
                                <span style="color: red;" *ngIf="car['tarefas_amostras'] > 0"> -
                                    {{car['tarefas_amostras']}}</span></span>
                        </ng-template>
                    </p-column>
                    <p-column *ngIf="sow_col4" [sortable]="true" [filter]="true" styleclass="text-danger"
                        field="planosacao">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                            <span class="goToTarefas_title" (click)="goToTarefas(car['id_tarefa'],'planosacao')"
                                title="{{car['title4'] }}">{{car['planosacao'] }}
                                <span style="color: red;" *ngIf="car['tarefas_atraso_planosaco'] > 0"> -
                                    {{car['tarefas_atraso_planosaco']}}</span></span>
                        </ng-template>
                    </p-column>
                    <p-column *ngIf="sow_col5" [sortable]="true" [filter]="true" styleclass="text-danger"
                        field="planosestrategicos">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                            <span class="goToTarefas_title" (click)="goToTarefas(car['id_tarefa'],'planosestrategicos')"
                                title="{{car['title6'] }}">{{car['planosestrategicos'] }}
                                <span style="color: red;" *ngIf="car['tarefas_atraso_planosestrategicos'] > 0"> -
                                    {{car['tarefas_atraso_planosestrategicos']}}</span></span>
                        </ng-template>
                    </p-column>
                    <p-column *ngIf="sow_col6" [sortable]="true" [filter]="true" styleclass="text-danger"
                        field="derrogacoes">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                            <span class="goToTarefas_title" (click)="goToTarefas(car['id_tarefa'],'derrogacoes')"
                                title="{{car['title5'] }}">{{car['derrogacoes'] }}
                                <span style="color: red;" *ngIf="car['tarefas_atraso_derrogacoes'] > 0"> -
                                    {{car['tarefas_atraso_derrogacoes']}}</span></span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-header" data-background-color="gray"
                style="width: 100%; margin-left: 0; background: #e1e1e1;">
                <h4 class="title" style="font-weight: 700; color: #3C4858; font-size: 14px;">
                    <span _ngcontent-c1="" class="glyphicon glyphicon-star">
                    </span>Favoritos
                </h4>
                <!--<a class="btn icon-btn btn-default" [routerLink]="['/teste2']" style="background: white; color: black; position: absolute; top: -26px; right: 20px;">
              <span style="color: black;" class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Criar</a>-->
            </div>
            <div class="card-content table-responsive">
                <div id="products" class="row list-group" style="margin: 0; margin-top: 7px;">
                    <div *ngFor="let fav of favoritos">
                        <div class="thumbnail"
                            style="margin: 0; border: none; background: none;     border-bottom: 1px dotted #8080802e; line-height: 10px;">
                            <div class="caption">

                                <a [routerLink]="[fav.url]" class="group inner list-group-item-heading"
                                    style=" color: rgb(55, 65, 75);">
                                    <span _ngcontent-c1="" style=" color: rgb(55, 65, 75) ;"
                                        class="glyphicon glyphicon glyphicon-triangle-right"></span>
                                    {{fav.descricao}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>