<app-controlos></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Tipo Adição</h4>
          </div>
          <div class="card-content">
            <p-dataTable [style]="{'width':'600px'}" [value]="TipoAdicaos" selectionMode="single" (onRowSelect)="onRowSelect($event)"
              [paginator]="true" rows="15">
              <p-column [style]="{'width':'70px'}" field="nome" header="Tipo Adiçao" [filter]="true" [sortable]="true"></p-column>
              <p-column [style]="{'width':'90px'}" field="nome_op" header="Tipo Operação" [filter]="true" [sortable]="true"></p-column>
              <p-column [style]="{'width':'60px'}" field="classif_nome" header="Classificação" [sortable]="true"></p-column>
              <p-footer>
                <a (click)="showDialogToAdd()" style="color: black; cursor:pointer; margin-left:10px;" title="Adicionar nova linha">
                  <i class="material-icons">add</i> Adicionar
                </a>
              </p-footer>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-lg" #dialog data-toggle="modal" [hidden]="true" data-target="#myModalNorm" data-backdrop="false"></button>

<!-- Modal TipoAdicaos-->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Tipo Adição
        </h4>
      </div>
      <form role="form" ngNativeValidate (ngSubmit)="gravarTipoAdicaos()">
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6">
            <div class="form-group">
              <label for="TipoAdicao">Nome Adição</label>
              <input type="text" class="form-control" id="TipoAdicao" [(ngModel)]="valor_TipoAdicao" [ngModelOptions]="{standalone: true}"
                placeholder="Introduza a TipoAdicao" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group col-md-6">
              <label for="tipoop">Tipo Operação</label>
              <p-dropdown [options]="intervalo_op" [style]="{'width':'225px'}" [(ngModel)]="intervalo_op_id" [ngModelOptions]="{standalone: true}"></p-dropdown>
            </div>
            <div class="form-group col-md-6">
              <label for="manutencao">Classificação</label>
              <br>
              <p-dropdown [options]="classificacao" [(ngModel)]="classif" [ngModelOptions]="{standalone: true}" [style]="{'width':'300px'}"
                [required]="true"></p-dropdown>
            </div>
          </div>
        </div>
        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" #closedialog data-dismiss="modal">Fechar</button>
          <button type="button" (click)="apagarTipoAdicaos()" [hidden]="novo" class="btn btn-danger" data-dismiss="modal">Remover</button>
          <button type="submit" class="btn btn-success ">Gravar</button>
        </div>
      </form>
    </div>
  </div>
</div>