<div class="col-md-12  hidden-xs">
  <div class="card-header" data-background-color="orange">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" style="background:black">
          <li [hidden]="!btvoltar">
            <a (click)=" backClicked()">
              <i class="material-icons">arrow_back</i>Voltar
              <div class="ripple-container"></div>
            </a>
          </li>
          <li [class.disabled]="disCriar" [hidden]="!btcriar">
            <a (click)="novoplano()" [ngClass]="novo ? 'cor_modo' : null">
              <i class="material-icons">create_new_folder</i>Novo
              <div class="ripple-container"></div>
            </a>
          </li>
          <li [class.disabled]="disEditar" [hidden]="!bteditar">
            <a (click)="edita()" [ngClass]="(modoedicao && !novo) ? 'cor_modo' : null">
              <i class="material-icons">mode_edit</i>Editar
              <div class="ripple-container"></div>
            </a>
          </li>
          <li [class.disabled]="disLancarPlano" [hidden]="!btLancarPlano">
            <a (click)="lancarPlano()">
              <i class="material-icons">playlist_play</i>Lançar Plano
              <div class="ripple-container"></div>
            </a>
          </li>

          <li [class.disabled]="disControlar" [hidden]="!btControlar">
            <a (click)="controlar()">
              <i class="material-icons">playlist_add_check</i>Controlar
              <div class="ripple-container"></div>
            </a>
          </li>

          <li [class.disabled]="disAprovar" [hidden]="!btAprovar">
            <a (click)="aprovar()">
              <i class="material-icons">check</i>Aprovar
              <div class="ripple-container"></div>
            </a>
          </li>

          <li [class.disabled]="disCancelar" [hidden]="!btCancelar">
            <a (click)="cancelar()">
              <i class="material-icons">close</i>Cancelar
              <div class="ripple-container"></div>
            </a>
          </li>
          <!--<li [class.disabled]="disFechar" [hidden]="!btfechar">
            <a (click)="fechar()">
              <i class="material-icons">close</i>Fechar
              <div class="ripple-container"></div>
            </a>
          </li>-->
          <li [class.disabled]="disImprimir" [hidden]="!btimprimir">
            <a (click)="imprimir('pdf','planos_de_acao_detalhada_id')">
              <i class="material-icons">print</i>Imprimir
              <div class="ripple-container"></div>
            </a>
          </li>
          <li [class.disabled]="disApagar" [hidden]="!btapagar" style="float: right;">
            <a (click)="apagar()">
              <i class="material-icons">delete</i>Apagar
              <div class="ripple-container"></div>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="height: 49px; padding-top: 22px;" data-background-color="red">
            <h4 style="position: absolute;" class="title">Planos de Ação</h4>
          </div>
          <div class="card-content">
            <form (keydown.enter)="$event.preventDefault()" #form id="formReclama" (ngSubmit)="gravar()"
              ngNativeValidate>
              <div class="container-fluid" style="padding: 0;">


                <div style="display: inline-block;">

                  <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-12">

                    <div style="padding: 1px 5px 1px 10px; height: 48px;" class="form-group col-md-1">
                      <label style="display: -webkit-box;">ID Registo:</label>
                      <input [disabled]="true" style="padding: 5px 4px;height: 25px;" [(ngModel)]="id_PLANO"
                        [ngModelOptions]="{standalone: true}" type="text"
                        class="inputn ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                        ng-reflect-ng-class="ui-inputtext ui-widget ui-stat">
                    </div>

                    <div style="padding: 1px 5px 1px 10px; height: 48px; width: 13%;" class="form-group col-md-2">
                      <label style="display: -webkit-box;">Data Registo:</label>
                      <p-calendar [disabled]="true" [style]="{'height':'25px','width':'68%'}" dateFormat="yy-mm-dd"
                        placeholder="yyyy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                        [(ngModel)]="data_CRIA" [ngModelOptions]="{standalone: true}" [showIcon]="false"
                        [required]="true"></p-calendar>
                      <input [disabled]="true" style="width:25%; padding: 5px 4px;height: 25px;" [(ngModel)]="hora_CRIA"
                        [ngModelOptions]="{standalone: true}" type="text"
                        class="inputn ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                        ng-reflect-ng-class="ui-inputtext ui-widget ui-stat" placeholder="hh:mm">
                    </div>
                    <div style="padding: 1px 5px 1px 10px; height: 48px; width: 15%;" class="form-group col-md-2">
                      <label style="display: -webkit-box;">Data Objetivo do Plano:</label>
                      <p-calendar [disabled]="!modoedicao" [style]="{'height':'25px','width':'100%'}"
                        (onSelect)="data_OBJETIVO_DATA = data_OBJETIVO" (onChange)="data_OBJETIVO_DATA = data_OBJETIVO"
                        dateFormat="yy-mm-dd" placeholder="yyyy-mm-dd" [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="2000:2050" [(ngModel)]="data_OBJETIVO" [ngModelOptions]="{standalone: true}"
                        [showIcon]="false" [required]="true"></p-calendar>
                    </div>

                    <div style="padding: 1px 5px 1px 10px; height: 48px;" class="form-group col-md-2">
                      <label style="display: -webkit-box;">Responsável do Plano:</label>
                      <input [disabled]="true" style="padding: 5px 4px;height: 25px;" [(ngModel)]="utilizador"
                        [ngModelOptions]="{standalone: true}" type="text"
                        class="inputn ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                        ng-reflect-ng-class="ui-inputtext ui-widget ui-stat">
                    </div>

                    <div style="padding: 1px 5px 1px 10px; width: 15%;" class="form-group col-md-2 ">
                      <label>Departamento:</label>
                      <p-dropdown filter="filter" [options]="drop_departamentos" styleClass="dropDownSemIcon"
                        [style]="{'width':'100%','height':'25px'}" [(ngModel)]="departamento_ORIGEM" lazy="true"
                        [ngModelOptions]="{standalone: true}" [disabled]="true" [required]="true">
                      </p-dropdown>
                    </div>

                    <div style="padding: 1px 5px 1px 10px; height: 48px; width: 15%;" class="form-group col-md-2 ">
                      <label style="font-size: 14px;">Âmbito:</label><br>
                      <p-dropdown [options]="ambitos" [style]="{'width':'100%','height':'25px','display':'block'}"
                        [required]="true" [(ngModel)]="ambito" [ngModelOptions]="{standalone: true}"
                        [disabled]="!modoedicao">
                      </p-dropdown>
                    </div>



                    <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-2 ">
                      <label>Estado Plano:</label>
                      <input [disabled]="true" type="text" class="form-control2" [(ngModel)]="estado_texto"
                        [ngModelOptions]="{standalone: true}">
                      <!--<p-dropdown *ngIf="modoedicao" [options]="estados" [style]="{'width':'100%','height':'25px'}"
                        [(ngModel)]="estado" lazy="true" [ngModelOptions]="{standalone: true}" [disabled]="true"
                        [required]="true">
                      </p-dropdown>-->
                    </div>



                    <div style="padding: 1px 5px 1px 10px; height: 48px;" class="form-group col-md-2 ">
                      <label>Origem:</label>
                      <input [disabled]="!modoedicao" type="text" class="form-control2" [(ngModel)]="origem"
                        [ngModelOptions]="{standalone: true}">
                    </div>

                    <div style="padding: 1px 5px 1px 10px; height: 48px;" class="form-group col-md-2 ">
                      <label>Referência:</label><br>
                      <!--<p-dropdown *ngIf="novo" (onChange)="alteraRef($event)" [options]="drop_artigos" filter="filter"
                        [style]="{'width':'100%','height':'25px'}" [(ngModel)]="referencia" lazy="true"
                        [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao">
                      </p-dropdown>-->
                      <p-autoComplete *ngIf="novo" [(ngModel)]="referencia_campo" [suggestions]="filteredreferencias"
                        class="autocompleseguranca" [style]="{'width': '100%', 'height': '25px'}" forceSelection="true"
                        (onUnselect)="filteronUnselect($event)" (onSelect)="filterSelect($event)"
                        (onClear)="limpapesquisa()" emptyMessage="Sem Resultados..."
                        [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao"
                        [required]="id_PLANO_ESTRATEGICO == null" (completeMethod)="filterRef($event)" field="label"
                        placeholder="Pesquisar..." [minLength]="1">
                      </p-autoComplete>
                      <input *ngIf="!novo" [disabled]="!modoedicao || !novo" type="text" class="form-control2"
                        [(ngModel)]="referencia" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div style="padding: 1px 5px 1px 10px; height: 48px;" class="form-group col-md-2 ">
                      <label>Designação Referência:</label>
                      <input [disabled]="true" type="text" class="form-control2" [(ngModel)]="design_REFERENCIA"
                        [ngModelOptions]="{standalone: true}">
                    </div>



                    <div style="padding: 1px 5px 1px 10px; height: 48px;" class="form-group col-md-2 ">
                      <label style="font-size: 14px;">Linha:</label><br>
                      <p-dropdown [style.background]="cor_linha" class="droplinha droplinha_amostra"
                        (onChange)="alteracorlinha($event)" [options]="linhas"
                        [style]="{'width':'100%','height':'25px','display':'block'}" [(ngModel)]="id_LINHA"
                        [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao">
                        <ng-template let-car pTemplate="item">
                          <div class="ui-helper-clearfix" [style.background]="(car.value != null)?car.value.cor : ''"
                            style="position: relative;height: 25px;">
                            {{car.label}}
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>

                    <div class="col-md-2 form-group" style="padding: 1px 5px 1px 10px; height: 48px;">
                      <label for="tipoop">Unidade</label>
                      <p-dropdown [filter]="true" [options]="unidades" [disabled]="!modoedicao"
                        [style]="{'width':'100%','height':'25px','display':'block'}" [(ngModel)]="unidade"
                        [ngModelOptions]="{standalone: true}">
                      </p-dropdown>

                    </div>

                    <div style="padding: 1px 5px 1px 10px; height: 48px;" class="form-group col-md-2 ">
                      <label style="font-size: 14px;">PLano Estratégico:</label><br>
                      <!--p-dropdown [filter]="true" [options]="planos_estrategicos" [disabled]="!modoedicao"
                        [style]="{'width':'100%','height':'25px','display':'block'}" [(ngModel)]="id_PLANO_ESTRATEGICO"
                        [ngModelOptions]="{standalone: true}">
                      </p-dropdown-->
                      <p-multiSelect [(ngModel)]="id_PLANO_ESTRATEGICO" [ngModelOptions]="{standalone: true}"
                        [options]="planos_estrategicos"
                        [style]="{'width':'100%','height':'25px','display':'block','padding-top': '2px'}"
                        [disabled]="!modoedicao" (onChange)="aoAlterarPLANO_ESTRATEGICO($event)"
                        styleClass="ui-column-filter"></p-multiSelect>
                    </div>


                    <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-6 ">
                      <label>Descrição:</label>
                      <input [disabled]="!modoedicao" type="text" class="form-control2" [(ngModel)]="descricao"
                        [ngModelOptions]="{standalone: true}">
                    </div>

                    <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-6 "
                      *ngIf="id_PLANO_ESTRATEGICO != null">
                      <label>Objetivo:</label>
                      <input [disabled]="!modoedicao" type="text" class="form-control2" [(ngModel)]="objetivo"
                        [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
                      <div style="display: inline-block; width: 100%;">
                        <div class="form-group col-md-4 col-lg-4">
                          <p-fileUpload [disabled]="!modoedicao" #fileInput name="myfile[]" customUpload="true"
                            (uploadHandler)="onUpload($event)" multiple="multiple" maxFileSize="10000000"
                            invalidFileSizeMessageSummary="{0}: Tamanho do ficheiro inválido, "
                            invalidFileTypeMessageDetail="tipos de ficheiros permitidos: {0}."
                            invalidFileSizeMessageDetail="O tamanho máximo do upload é {0}."
                            invalidFileTypeMessageSummary="{0}: tipo de ficheiro inválido, " chooseLabel="Selecionar"
                            uploadLabel="Carregar" cancelLabel="Cancelar">
                            <ng-template let-file pTemplate="file">
                              <div class="ui-fileupload-row">
                                <div>
                                  <img [src]="file.objectURL" *ngIf="isImage(file)" [width]="25" />
                                  <img [src]="fileImage(file)" *ngIf="!isImage(file)" [width]="25" />
                                </div>
                                <div>{{file.name}}</div>
                                <input type="text" placeholder="Descrição" style="margin-top: 9px;"
                                  class="form-control2" [(ngModel)]="filedescricao[fileInput.files.indexOf(file)]"
                                  [ngModelOptions]="{standalone: true}">
                                <div>
                                  <button icon="fa-close" pButton type="button" label="Remove"
                                    (click)="removeFile(file, fileInput)"></button>
                                </div>
                              </div>
                            </ng-template>
                            <ng-template pTemplate="content">
                              <div style="text-align: -webkit-center; width: 100%; color: gainsboro;">Upload Files</div>
                            </ng-template>
                          </p-fileUpload>
                        </div>

                        <div class="form-group col-md-8 col-lg-8">
                          <p-dataTable [style]="{'width':'100%'}" [editable]="modoedicao" [value]="uploadedFiles"
                            styleClass="ExcelTable2007">
                            <p-column [style]="{'width':'20%'}" [editable]="false" field="name"
                              styleClass="ExcelTable2007tdname" header="NOME">
                              <ng-template let-col let-car="rowData" pTemplate="body">
                                <span title="{{car['name'] }}">{{car['name'] }}</span>
                              </ng-template>
                            </p-column>
                            <p-column [style]="{'width':'10%'}" [editable]="false" field="tamanho"
                              styleClass="ExcelTable2007tdname" header="TAMANHO">
                              <ng-template let-col let-car="rowData" pTemplate="body">
                                <span title=" {{car['size'] }} bytes"> {{car['size'] }} bytes</span>
                              </ng-template>
                            </p-column>
                            <p-column [style]="{'width':'10%'}" [editable]="false" field="descricao"
                              styleClass="ExcelTable2007tdname" header="DESCRIÇÃO">
                              <ng-template let-col let-car="rowData" pTemplate="body">
                                <span title="{{car['descricao']}}">{{car['descricao']}}</span>
                              </ng-template>
                            </p-column>
                            <p-column [style]="{'width':'15%'}" [editable]="false" field="datacria" header="DATA">
                              <ng-template let-col let-car="rowData" pTemplate="body">
                                <span title="{{car['datacria']}}">{{car['datacria']}}</span>
                              </ng-template>
                            </p-column>
                            <p-column [style]="{'width':'10%'}" [editable]="false" field="utilizador"
                              styleClass="ExcelTable2007tdname" header="UTILIZADOR">
                              <ng-template let-col let-car="rowData" pTemplate="body">
                                <span title="{{car['utilizador']}}">{{car['utilizador']}}</span>
                              </ng-template>
                            </p-column>
                            <p-column [style]="{'width':'105px'}" [editable]="false" field="descricao" header="">
                              <ng-template let-car="rowData" let-index="rowIndex" pTemplate="body">
                                <button type="button" class="btn btn-default btn-xs" title="Ver Ficheiro"
                                  (click)="showDialog(car.type, car.src,car.name,car.datatype,car.ficheiro)">
                                  <i class="glyphicon glyphicon-zoom-in"></i>
                                </button>
                                <a class="btn btn-primary btn-xs" title="Download"
                                  (click)="download(car.name,car.src,car.datatype,car.ficheiro)" target="_blank"
                                  style="padding: 3px 0px 3px 12px; margin: 0;">
                                  <i class="glyphicon glyphicon-download"></i>
                                </a>
                                <button style="padding: 3px 0px 3px 12px; margin: 3px 0 3px 0;" type="button"
                                  class="btn btn-danger btn-xs"
                                  [disabled]="!modoedicao || (!apagarficheiros && car.id != null) || car['id_TAREFA'] != null || car['id_FICHEIRO'] != null"
                                  title="Apagar" (click)="removerficheiro(index)">
                                  <span class="glyphicon glyphicon-trash"></span>
                                </button>
                              </ng-template>
                            </p-column>
                          </p-dataTable>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12" style="padding-right: 5px; padding-left: 10px;">
                      <p-dataTable [style]="{'width':'100%'}" [editable]="modoedicao" [value]="tabelaaccoes"
                        (onRowSelect)="onRowSelect($event)" styleClass="ExcelTable2007" id="tabelaplanos"
                        [(selection)]="linhasSelecionadas" expandableRows="true" [expandedRows]="tabelaaccoes">

                        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                        <p-column [editable]="false" field="seguir_LINHA" header="Seguir" [style]="{'width':'52px'}">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <a (click)="set_favoritos(car)" class="fa "
                              [title]="(car.seguir_LINHA)? 'Remova esta Linha' :'Adicione esta Linha'"
                              style="cursor: pointer; color: black; font-size: 20px;"
                              [ngClass]="(car.seguir_LINHA)? 'fa-star':'fa-star-o'"></a>
                          </ng-template>
                        </p-column>
                        <!--p-column [style]="{'width':'24px','padding-left':'2px'}" header="REF." expander="true"
                          styleClass="col-icon">
                        </p-column-->
                        <ng-template let-car pTemplate="rowexpansion">
                          <table style="border: none;">
                            <th class="ui-state-default ui-unselectable-text"
                              style="width: 100px; display: table-cell; padding-left: 7px;">
                              <span class="ui-column-title">REFERÊNCIA</span>
                            </th>
                            <th style="border-top: none; border-right: none; border-left: none;">
                              <p-autoComplete [(ngModel)]="car.referencia_campo" [disabled]="!modoedicao"
                                [suggestions]="car.filteredreferencias" class="autocompleseguranca"
                                [style]="{'width': '100%', 'height': '25px'}" forceSelection="true"
                                emptyMessage="Sem Resultados..." (onUnselect)="filteronUnselectlinha($event,car)"
                                (onSelect)="filterSelectlinha($event,car)" [ngModelOptions]="{standalone: true}"
                                (completeMethod)="filterReflinha($event,car)" field="label"
                                placeholder="Pesquisar Referência..." [minLength]="1">
                              </p-autoComplete>
                            </th>
                          </table>
                          <table style="border: none;">
                            <th class="ui-state-default ui-unselectable-text"
                              style="width: 100px; display: table-cell; padding-left: 7px;">
                              <span class="ui-column-title">ORIGEM</span>
                            </th>
                            <th style="border-top: none; border-right: none; border-left: none;">
                              <input [disabled]="!modoedicao" style="padding: 5px 4px;height: 25px;"
                                [(ngModel)]="car['origem']" [ngModelOptions]="{standalone: true}" type="text"
                                class="inputn ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                                ng-reflect-ng-class="ui-inputtext ui-widget ui-stat">
                            </th>
                          </table>
                          <table style="border: none;">
                            <th class="ui-state-default ui-unselectable-text"
                              style="width: 100px; display: table-cell; padding-left: 7px;">
                              <span class="ui-column-title">CAUSA</span>
                            </th>
                            <th style="border-top: none; border-right: none; border-left: none;">
                              <input [disabled]="!modoedicao" style="padding: 5px 4px;height: 25px;"
                                [(ngModel)]="car['causa']" [ngModelOptions]="{standalone: true}" type="text"
                                class="inputn ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                                ng-reflect-ng-class="ui-inputtext ui-widget ui-stat">
                            </th>
                          </table>
                        </ng-template>


                        <p-column [editable]="false" field="data_ACCAO" header="DATA OBJETIVO AÇÃO"
                          [style]="{'width':'100px'}">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <!-- {{car[col.field] | date: 'yyyy-MM-dd'}}
                          </ng-template>
                          <ng-template let-col let-car="rowData" pTemplate="editor">-->
                            <p-calendar [maxDate]="data_OBJETIVO_DATA" (ngModelChange)="verificadatas(car)"
                              [disabled]="!modoedicao || (car['id_PLANO_LINHA'] != null && (estado != 'E' &&  car['estado']!= 'P'  &&  car['estado']!= null))"
                              [style]="{'height':'25px','width':'100%'}" dateFormat="yy-mm-dd" placeholder="yyyy-mm-dd"
                              [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" appendTo="body"
                              [(ngModel)]="car['data_ACCAO']" [ngModelOptions]="{standalone: true}" [required]="true">
                            </p-calendar>
                          </ng-template>
                        </p-column>

                        <p-column [editable]="false" field="hora_ACCAO" header="HORA AÇÃO" [style]="{'width':'75px'}">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <!--  {{car[col.field]}}
                          </ng-template>
                          <ng-template let-col let-car="rowData" pTemplate="editor">-->
                            <input
                              [disabled]="!modoedicao || (car['id_PLANO_LINHA'] != null && (estado != 'E' &&  car['estado']!= 'P' &&  car['estado']!= null))"
                              style="padding: 5px 4px;height: 25px; text-align: center;" [required]="true"
                              (ngModelChange)="verificadatas(car)" [(ngModel)]="car['hora_ACCAO']"
                              [ngModelOptions]="{standalone: true}" type="time"
                              class="inputn ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                              ng-reflect-ng-class="ui-inputtext ui-widget ui-stat" placeholder="hh:mm">
                          </ng-template>
                        </p-column>

                        <!--
                        <p-column [editable]="true" field="descricao" header="DEPARTAMENTO">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            {{car['departamento'] }}
                          </ng-template>
                          <ng-template let-col let-car="rowData" pTemplate="editor" let-index="rowIndex">
                            <p-dropdown [filter]="true" (onChange)="car['departamento'] = nomeDEPARTAMENTO($event)"
                              [options]="drop_departamentos"
                              [style]="{'width':'100%','height':'25px','background':'white'}"
                              [(ngModel)]="car['id_departamento']" [ngModelOptions]="{standalone: true}"
                              [disabled]="!modoedicao " appendTo="body" [required]="true">
                            </p-dropdown>
                          </ng-template>
                        </p-column>-->

                        <p-column [editable]="false" field="responsavel" header="RESPONSÁVEL AÇÃO"
                          [style]="{'width':'140px'}">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <!--{{getResponsavel(car[col.field]) }}
                          </ng-template>
                          <ng-template let-index="rowIndex" let-col let-car="rowData" pTemplate="editor">-->
                            <p-dropdown [filter]="true" [options]="drop_utilizadores"
                              [style]="{'width':'100%','height':'25px','background':'white','border': 'none'}"
                              [(ngModel)]="car['responsavel']" [ngModelOptions]="{standalone: true}"
                              (onChange)="verificaResponsavel(car,$event)"
                              [disabled]="!modoedicao || (car['id_PLANO_LINHA'] != null && (estado != 'E' &&  car['estado']!= 'P'  &&  car['estado']!= null))"
                              appendTo="body" [required]="true">
                            </p-dropdown>
                          </ng-template>
                        </p-column>

                        <p-column [editable]="false" field="encaminhado" header="ENCAMINHADO PARA"
                          [style]="{'width':'110px'}">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            {{car[col.field]}}
                          </ng-template>
                        </p-column>

                        <p-column [editable]="true" field="descricao" [style]="{'width':'245px'}" header="ACÇÃO">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            {{car[col.field]}}
                          </ng-template>
                          <ng-template let-col let-car="rowData" pTemplate="editor" let-index="rowIndex">
                            <p-dropdown [filter]="true" (onChange)="car['descricao'] = nomeACCAO($event)"
                              [options]="drop_accoes" [style]="{'width':'80%','height':'25px','background':'white'}"
                              [(ngModel)]="car['id_ACCAO']" [ngModelOptions]="{standalone: true}"
                              [disabled]="!modoedicao || (car['id_PLANO_LINHA'] != null && estado != 'E')"
                              appendTo="body">
                            </p-dropdown>
                            <button type="button" class="btn btn-success btn-xs" [disabled]="!modoedicao"
                              title="Adicionar" (click)="showDialogToAdd(index)">
                              <span class="glyphicon glyphicon-plus"></span>
                            </button>
                          </ng-template>
                        </p-column>

                        <p-column [editable]="false" field="tipo_ACAO" header="TIPO DE AÇÃO"
                          [style]="{'width':'102px'}">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <!--{{getResponsavel(car[col.field]) }}
                          </ng-template>
                          <ng-template let-index="rowIndex" let-col let-car="rowData" pTemplate="editor">-->
                            <p-dropdown [filter]="true" [options]="tipos_acao"
                              [style]="{'width':'100%','height':'25px','background':'white','border': 'none'}"
                              [(ngModel)]="car['tipo_ACAO']" [ngModelOptions]="{standalone: true}"
                              [disabled]="!modoedicao" appendTo="body" [required]="id_PLANO_ESTRATEGICO == null">
                            </p-dropdown>
                          </ng-template>
                        </p-column>

                        <p-column [editable]="false" field="item" header="ITEM" [style]="{'width':'102px'}">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <input [disabled]="!modoedicao" style="padding: 5px 4px;height: 25px; text-align: center;"
                              [(ngModel)]="car['item']" [ngModelOptions]="{standalone: true}" type="text" maxlength="15"
                              class="inputn ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                              title="Ex. Código da ação definida pelo relatório de auditoria."
                              ng-reflect-ng-class=" ui-inputtext ui-widget ui-stat">
                          </ng-template>
                        </p-column>

                        <p-column [editable]="true" field="observacao" header="DESCRIÇÃO">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            {{car[col.field]}}
                          </ng-template>
                          <ng-template let-col let-car="rowData" pTemplate="editor">
                            <input [disabled]="!modoedicao" style="padding: 5px 4px;height: 25px;"
                              [(ngModel)]="car['observacao']" [ngModelOptions]="{standalone: true}" type="text"
                              class="inputn ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                              ng-reflect-ng-class="ui-inputtext ui-widget ui-stat">
                          </ng-template>
                        </p-column>

                        <p-column field="fastresponse" header="FASTRESP." [style]="{'width':'72px'}">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <p-checkbox [disabled]="!modoedicao" [(ngModel)]="car['fastresponse']"
                              [ngModelOptions]="{standalone: true}" binary="true"></p-checkbox>
                          </ng-template>
                        </p-column>

                        <!--p-column [editable]="false" field="prioridade" header="PRIORIDADE" [style]="{'width':'102px'}">
                          <ng-template let-col let-car="rowData" pTemplate="body"-->
                        <!--{{getResponsavel(car[col.field]) }}
                          </ng-template>
                          <ng-template let-index="rowIndex" let-col let-car="rowData" pTemplate="editor">-->
                        <!--p-dropdown [filter]="true" [options]="drop_prioridades"
                              [style]="{'width':'100%','height':'25px','background':'white'}"
                              [(ngModel)]="car['prioridade']" [ngModelOptions]="{standalone: true}"
                              [disabled]="!modoedicao || (car['id_PLANO_LINHA'] != null && estado != 'E')"
                              appendTo="body" [required]="true">
                            </p-dropdown>
                          </ng-template>
                        </p-column-->

                        <!--p-column [editable]="false" field="unidade" header="UNIDADE" [style]="{'width':'102px'}">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <p-dropdown [filter]="true" [options]="unidades"
                              [style]="{'width':'100%','height':'25px','background':'white'}"
                              [(ngModel)]="car['unidade']" [ngModelOptions]="{standalone: true}"
                              [disabled]="!modoedicao || (car['id_PLANO_LINHA'] != null && estado != 'E')"
                              appendTo="body">
                            </p-dropdown>
                          </ng-template>
                        </p-column-->


                        <p-column field="estado_texto" header="ESTADO AÇÃO" [style]="{'width':'104px'}">
                          <ng-template let-col let-car="rowData" let-index="rowIndex" pTemplate="body">
                            <a *ngIf="car['id_TAREFA']!=null" title="Tarefa: {{car['id_TAREFA']}}"
                              (click)="IrPara(car['id_TAREFA'])"> {{car[col.field]}}</a>
                            <a *ngIf="(car['estado'] == 'R' || car['estado'] == 'I' || car['estado'] == 'V' || car['estado'] == 'C') && car['id_TAREFA']!=null && editar_linha && modoedicao"
                              title="Editar dados Tarefa" (click)="EditarTarefa(car,index)"> <span class="fa fa-pencil"
                                style="margin-left: 5px; color: orange;"></span></a>
                            <span *ngIf="car['id_TAREFA']==null"> {{car[col.field]}}</span>
                          </ng-template>
                        </p-column>

                        <p-column [style]="{'width':'52px'}">
                          <ng-template let-col let-car="rowData" let-index="rowIndex" pTemplate="body">
                            <button type="button" class="btn btn-danger btn-xs" [disabled]="!modoedicao" title="Apagar"
                              (click)="apagar_linha( index)">
                              <span class="glyphicon glyphicon-trash"></span>
                            </button>
                          </ng-template>
                        </p-column>
                        <p-footer [style]="{'text-align':'center'}">
                          <a (click)="adicionar_linha()" [class.disabled]="!modoedicao"
                            style="color: black; cursor:pointer; margin-left:10px;" title="Adicionar nova linha">
                            <i class="material-icons">add</i> Adicionar
                          </a>
                        </p-footer>
                      </p-dataTable>
                    </div>
                  </div>
                </div>
              </div>





              <button type="reset" (click)="backview()" class="btn btn-danger pull-right"
                [hidden]="!modoedicao">Cancelar</button>
              <button type="submit" class="btn btn-success pull-right" #buttongravar [hidden]="true">Gravar</button>
              <button type="submit" class="btn btn-success pull-right" [hidden]="!modoedicao">Gravar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-danger btn-block" #inputnotifi [hidden]="true"
  onclick="demo.showNotification('top','right','Inseriu com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputgravou [hidden]="true"
  onclick="demo.showNotification('top','right','Alterado com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputapagar [hidden]="true"
  onclick="demo.showNotification('top','right','Apagado com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputerro [hidden]="true"
  onclick="demo.showNotification('top','right','ERRO!! Registo não foi Gravado!',4)"></button>
<button type="button" class="btn btn-danger btn-block" #inputerro2 [hidden]="true"
  onclick="demo.showNotification('top','right','ERRO!! Erro ao Traduzir!',4)"></button>
<button type="button" class="btn btn-danger btn-block" #inputartigoexiste [hidden]="true"
  onclick="demo.showNotification('top','right','Artigo já existe na Lista de Artigos Similares ou é Igual à Referência Principal!',4)"></button>
<button type="button" class="btn btn-danger btn-block" #inputerroficheiro [hidden]="true"
  onclick="demo.showNotification('top','right','ERRO!! Falha no Download!',4)"></button>
<button #escondebt id="editarclick4" data-toggle="modal" [hidden]="true"></button>
<button #alteraeditar id="editarclick2" data-toggle="modal" [hidden]="true"></button>
<button #alteraeditar2 id="editarclick3" data-toggle="modal" [hidden]="true"></button>
<button #alteracancelar id="cancelaclick1" data-toggle="modal" [hidden]="true"></button>



<p-dialog header="Aviso" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh'}" [dismissableMask]="true"
  appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="displayverificar" [modal]="true">
  <form role="form">
    <!-- Modal Body -->
    <div style="padding: 0px 50px 0px 50px">
      <span [innerHTML]="mensagem_verifica" style="font-size: 17px;"></span>
    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="displayverificar = false">Fechar</button>

    </div>
  </form>
</p-dialog>


<!-- ADICIONAR ACÇÔES -->

<!-- Modal dados-->

<p-dialog header="Ações de Planos de Ação" [responsive]="true" [positionTop]="0"
  [style]="{'max-height':'99vh','width': '100%'}" [dismissableMask]="true" appendTo="body" [closeOnEscape]="true"
  [draggable]="false" [(visible)]="displayAddAccao" [modal]="true">

  <!-- Modal Header -->

  <form role="form" ngNativeValidate (ngSubmit)="gravardados()">
    <!-- Modal Body -->
    <div class="">
      <div class="form-group">
        <label for="descricao">Descrição PT</label>
        <input [ngClass]="class_numexiste" autocomplete="off" type="text" class="form-control2" id="descricaopt"
          [(ngModel)]="descricaopt" [ngModelOptions]="{standalone: true}"
          placeholder="Introduza a Descrição em Português" required />
        <span style="font-size: 12px; color: red; font-weight: 500;" [hidden]="!num_existe">Ação já Existe! </span>
      </div>
    </div>
    <!-- Modal Footer -->
    <div class="">
      <button type="button" class="btn btn-default" (click)="displayAddAccao = false">Fechar</button>
      <button type="submit" class="btn btn-success ">Gravar</button>
    </div>
  </form>

</p-dialog>

<p-dialog [header]="nomeficheiro" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="display"
  [modal]="true">
  <div style="width: 80vw; text-align: -webkit-center;">
    <audio *ngIf="type == 'audio' && display" [src]="srcelement" id="player" style="max-height: 79vh; max-width: 100%;"
      autoplay="" controls="">Your
      browser does not support the audio element.</audio>
    <iframe *ngIf="(type == 'pdf' || type == 'txt')  && display" class="embed-responsive-item"
      style="width: 100%; max-height: 90vh; height: 79vh; max-width: 100%;" [src]="srcelement" type="application/pdf"
      scale="aspect" frameborder="0"></iframe>
    <img *ngIf="type == 'img' && display" [src]="srcelement" style="max-height: 79vh; max-width: 100%;">
    <video *ngIf="type == 'video' && display" [src]="srcelement" id="player" style="max-height: 79vh; max-width: 100%;"
      autoplay="" controls="">Video
      format or MIME type is not supported</video>
  </div>
</p-dialog>



<p-dialog header="Justificação Alteração de Estado" [responsive]="true" [positionTop]="0"
  [style]="{'max-height':'99vh','width': '100%'}" [dismissableMask]="true" appendTo="body" [closeOnEscape]="true"
  [draggable]="false" [(visible)]="displayJustificacao" [modal]="true">

  <!-- Modal Header -->

  <form role="form" ngNativeValidate (ngSubmit)="atualizarlinhas(linhasSelecionadas, estado_justificacao)">
    <!-- Modal Body -->
    <div class="">
      <div style="padding: 1px 5px 1px 10px; min-height: 50vh;" class="form-group col-md-12 col-lg-12">
        <label>Justificação:</label>
        <textarea required="true" rows="6" pInputTextarea [(ngModel)]="justificacao_ALTERACAO_ESTADO"
          class="form-control2 enabled" [ngModelOptions]="{standalone: true}"
          style="height: auto; width: 500px;"></textarea>
      </div>

    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="displayJustificacao = false">Fechar</button>
      <button type="submit" class="btn btn-success ">Gravar</button>
    </div>
  </form>

</p-dialog>

<p-dialog header="Justificação Alteração de Data Objetivo" [responsive]="true" [positionTop]="0" (onHide)="onHide()"
  [style]="{'max-height':'99vh','width': '100%'}" [dismissableMask]="true" appendTo="body" [closeOnEscape]="true"
  [draggable]="false" [(visible)]="displayJustificacaoDATAFIM" [modal]="true">

  <!-- Modal Header -->

  <form role="form" ngNativeValidate (ngSubmit)="atualizarlinhajustificacao_DATA_FIM()">
    <!-- Modal Body -->
    <div class="">
      <div style="padding: 1px 5px 1px 10px; min-height: 50vh;" class="form-group col-md-12 col-lg-12">
        <label>Justificação:</label>
        <textarea required="true" rows="6" pInputTextarea [(ngModel)]="justificacao_DATA_FIM"
          class="form-control2 enabled" [ngModelOptions]="{standalone: true}"
          style="height: auto; width: 500px;"></textarea>
      </div>

    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="displayJustificacaoDATAFIM = false">Fechar</button>
      <button type="submit" class="btn btn-success ">Gravar</button>
    </div>
  </form>

</p-dialog>

<p-dialog header="VERIFICAÇÃO DA EFICÁCIA / CUMPRIMENTO DO OBJECTIVO" [responsive]="true" [positionTop]="0"
  [style]="{'max-height':'99vh','width': '100%'}" [dismissableMask]="true" appendTo="body" [closeOnEscape]="true"
  [draggable]="false" [(visible)]="displayMotivoAlteracao" [modal]="true">

  <!-- Modal Header -->

  <form role="form" ngNativeValidate (ngSubmit)="VERIFICACAODAEFICACIA_CUMPRIMENTO_OBJECTIVO()">
    <!-- Modal Body -->
    <div class="">
      <div style="padding: 1px 5px 1px 10px;  " class="form-group col-md-12 col-lg-12">
        <label>Descrição:</label>
        <textarea required="true" rows="6" pInputTextarea [(ngModel)]="motivoAlteracao" class="form-control2 enabled"
          [ngModelOptions]="{standalone: true}" style="height: auto; width: 100%;"></textarea>
      </div>

    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="displayMotivoAlteracao = false">Fechar</button>
      <button type="submit" class="btn btn-success ">Gravar</button>
    </div>
  </form>

</p-dialog>


<p-dialog header="Justificação Alteração do Responsável" [responsive]="true" [positionTop]="0"
  (onHide)="onHideJustificacaoRESPONSAVEL()" [style]="{'max-height':'99vh','width': '100%'}" [dismissableMask]="true"
  appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="displayJustificacaoRESPONSAVEL"
  [modal]="true">

  <!-- Modal Header -->

  <form role="form" ngNativeValidate (ngSubmit)="atualizarlinhajustificacao_RESPONSAVEL()">
    <!-- Modal Body -->
    <div class="">
      <div style="padding: 1px 5px 1px 10px; min-height: 50vh;" class="form-group col-md-12 col-lg-12">
        <label>Justificação:</label>
        <textarea required="true" rows="6" pInputTextarea [(ngModel)]="justificacao_RESPONSAVEL"
          class="form-control2 enabled" [ngModelOptions]="{standalone: true}"
          style="height: auto; width: 500px;"></textarea>
      </div>

    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="displayJustificacaoRESPONSAVEL = false">Fechar</button>
      <button type="submit" class="btn btn-success ">Gravar</button>
    </div>
  </form>

</p-dialog>

<p-dialog header="Reabrir Ação" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh','width': '100%'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false"
  [(visible)]="displayJustificacaoREABRIR" [modal]="true">

  <!-- Modal Header -->

  <form role="form" ngNativeValidate (ngSubmit)="atualizarACAOREABRIR()">
    <!-- Modal Body -->
    <div class="" style="width: 80vw;">
      <div style="padding: 1px 5px 1px 10px; height: 62px;" class="form-group col-md-4 col-lg-4">
        <label>Data Objetivo Ação:</label>
        <p-calendar [maxDate]="data_OBJETIVO_DATA" [disabled]="!modoedicao" [style]="{'width':'100%'}"
          dateFormat="yy-mm-dd" placeholder="yyyy-mm-dd" [monthNavigator]="true" [yearNavigator]="true"
          yearRange="2000:2050" appendTo="body" [(ngModel)]="data_ACCAO_Reabrir" [ngModelOptions]="{standalone: true}"
          [required]="true">
        </p-calendar>
      </div>
      <div style="padding: 1px 5px 1px 10px; height: 62px;" class="form-group col-md-4 col-lg-4">
        <label>Hora Ação:</label>
        <br>
        <input [disabled]="!modoedicao" style="padding: 5px 4px;width: 100px;" [required]="true"
          [(ngModel)]="hora_ACCAO_Reabrir" [ngModelOptions]="{standalone: true}" type="time"
          class="inputn ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all" placeholder="hh:mm">
      </div>

      <div style="padding: 1px 5px 1px 10px; height: 62px;" class="form-group col-md-4 col-lg-4">
        <label>Estado:</label>
        <p-dropdown [filter]="true" [options]="estados_tarefas" [style]="{'width':'100%'}" [(ngModel)]="estado_Reabrir"
          [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao" appendTo="body" [required]="true">
        </p-dropdown>
      </div>

      <div style="padding: 1px 5px 1px 10px; height: 62px;" class="form-group col-md-6 col-lg-6">
        <label>Responsável:</label>
        <p-dropdown [filter]="true" [options]="drop_utilizadores" [style]="{'width':'100%'}"
          [(ngModel)]="responsavel_Reabrir" [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao"
          appendTo="body" [required]="true">
        </p-dropdown>
      </div>


      <div style="padding: 1px 5px 1px 10px; height: 62px;" class="form-group col-md-6 col-lg-6">
        <label>Ação:</label>
        <p-dropdown [filter]="true" [options]="drop_accoes" [style]="{'width':'100%' }" [(ngModel)]="id_ACCAO_Reabrir"
          [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao" appendTo="body">
        </p-dropdown>
      </div>
      <div style="padding: 1px 5px 1px 10px; height: 62px; display: inline-table;"
        class="form-group col-md-12 col-lg-12">
        <label>Justificação:</label>
        <textarea [disabled]="!modoedicao" required="true" rows="4" pInputTextarea [(ngModel)]="justificacao_Reabrir"
          class="form-control2 enabled" [ngModelOptions]="{standalone: true}"
          style="height: auto; width: 100%;"></textarea>
      </div>

    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="displayJustificacaoREABRIR = false">Fechar</button>
      <button type="submit" class="btn btn-success ">Gravar</button>
    </div>
  </form>

</p-dialog>