<app-controlos></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Capacidade/Acabamento</h4>
          </div>
          <div class="card-content">
            <p-dataTable [style]="{'width':'100%'}" [value]="departs" selectionMode="single" #dt
              (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
              <p-column field="tipo_ACABAMENTO" header="Tipo de Acabamento" [filter]="true" [sortable]="true"
                filterMatchMode="equals">
                <ng-template pTemplate="filter" let-col>
                  <p-dropdown [options]="tipos_ACABAMENTO" [style]="{'width':'100%'}"
                    (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter">
                  </p-dropdown>
                </ng-template>
              </p-column>
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="linha" header="Linha"
                filterMatchMode="equals">
                <ng-template pTemplate="filter" let-col>
                  <p-dropdown [options]="linhas" [style]="{'width':'100%'}"
                    (onChange)="dt.filter($event.value.id,col.field,col.filterMatchMode)" styleClass="ui-column-filter">
                  </p-dropdown>
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
                  <div [style.background]="car['cor_linha']">
                    {{car['nome_LINHA']}}
                  </div>
                </ng-template>
              </p-column>
              <p-column field="n_BARRAS_DIA" header="Nº Barras/Dia" [filter]="true" [sortable]="true">
              </p-column>
              <p-footer>
                <a [class.disabled]="!acesso_criar" (click)="showDialogToAdd()"
                  style="color: black; cursor:pointer; margin-left:10px;" title="Adicionar nova linha">
                  <i class="material-icons">add</i> Adicionar
                </a>
              </p-footer>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-lg" #dialog data-toggle="modal" [hidden]="true" data-target="#myModalNorm"
  data-backdrop="false"></button>



<!-- Modal dados-->
<p-dialog header="Capacidade/Acabamento" [responsive]="true" [positionTop]="0" styleClass="dialognot"
  [style]="{'max-height':'99vh','width':'80%','overflow': 'auto'}" [dismissableMask]="true" appendTo="body"
  [closeOnEscape]="true" [draggable]="false" [(visible)]="dialognovo" [modal]="true">

  <form id="formReclama" role="form" ngNativeValidate (ngSubmit)="gravar()">
    <!-- Modal Body -->
    <div class="modal-body" style="display: -webkit-box;">
      <div class="col-md-4">
        <div class="form-group">
          <label for="TipoAdicao">Tipo de Acabamento</label>
          <p-dropdown [filter]="true" [required]="true" appendTo="body" [options]="tipos_ACABAMENTO"
            [disabled]="!acesso_editar" [style]="{'width':'100%','height':'25px'}" [(ngModel)]="tipo_ACABAMENTO"
            [ngModelOptions]="{standalone: true}"></p-dropdown>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="tipoop">Linha</label><br>
          <p-dropdown [style.background]="cor_linha" appendTo="body" [options]="linhas" [required]="true"
            class="droplinha" (onChange)="alteracorlinha($event)" [style]="{'width':'185px','height':'25px'}"
            [(ngModel)]="linha" [ngModelOptions]="{standalone: true}">
            <ng-template let-car pTemplate="item">
              <div class="ui-helper-clearfix" [style.background]="car.value.cor"
                style="position: relative;height: 25px;">
                {{car.label}}
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group col-md-12">
          <label for="n_BARRAS_DIA">Nº Barras/Dia</label>
          <input type="number" [disabled]="!acesso_editar" class="form-control2" id="n_BARRAS_DIA"
            [(ngModel)]="n_BARRAS_DIA" [ngModelOptions]="{standalone: true}" required autocomplete="off" />
        </div>
      </div>
    </div>

    <p-footer>
      <button style="float: right; margin-right: 17px;" type="button" class="btn btn-default"
        (click)="dialognovo = false">Fechar</button>
      <button [disabled]="!acesso_apagar" style="float: right; margin-right: 17px;" type="button" (click)="apagar()"
        [hidden]="novo" class="btn btn-danger" data-dismiss="modal">Remover</button>
      <button style="float: right; margin-right: 17px;" type="submit" class="btn btn-success ">Gravar</button>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog key="conf001" appendTo="body"></p-confirmDialog>