<app-controlos (atualiza)="atualizar()"></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Tinas</h4>
            <p class="category"></p>
          </div>
          <div class="card-content table-responsive">

            <p-dataTable (onRowDblclick)="abrir($event)" [style]="{'min-height':'300px'}"  [value]="cols" dataKey="cod" [rows]="25" [paginator]="true" [rowsPerPageOptions]="[25,50,100,'todos']" [pageLinks]="3">
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="linha" header="Linha">
                <ng-template pTemplate="filter" let-col>
                  <p-dropdown [options]="linhas" [style]="{'width':'100%'}" [(ngModel)]="linha" (onChange)="filtrar($event.value,col.field)"
                    styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
                  <div [style.background]="car['cor']">
                    {{car['linha']}}
                  </div>
                </ng-template>
              </p-column>
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="zona" header="Zona">
                <ng-template pTemplate="filter" let-col>
                  <p-dropdown [options]="zonas" [style]="{'width':'100%'}" [(ngModel)]="zona" (onChange)="filtrar($event.value,col.field)"
                    styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
              </p-column>
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="cod" header="Código. Tina"></p-column>
              <p-column [filter]="true" styleclass="text-danger" field="obs" header="Observações"></p-column>
              <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                  <a (click)="reset()" style="color: black; float: left; cursor: pointer;">
                    <i class="fa fa-eraser" aria-hidden="true"> Limpar</i>
                    <div class="ripple-container"></div>
                  </a>
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
                  <a style="color: black; cursor:pointer;" title="Ver mais" [routerLink]="['/tinas/view']" [queryParams]="{ id: car.id }">
                  <i class="material-icons">search</i>
                  </a>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>