<div class="main-content" style="height: calc(100% - 145px);">
  <div class="container-fluid" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-md-12" style="height: 100%;">
        <div class="card" style="height: 100%;">
          <!--div class="card-header" data-background-color="red">
            <h4 class="title"> Business Analytics</h4>
            <p class="category"></p>
          </div-->
          <div class="card-content table-responsive" style="height: 100%;">

            <div id="reportContainer" style="height:100%; "></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>