<app-controlos></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Dias Produção/Semana</h4>
          </div>
          <div class="card-content">
            <p-dataTable [value]="dados" selectionMode="single" (onRowSelect)="onRowSelect($event)" [paginator]="true"
              [rows]="25" [rowsPerPageOptions]="[25,50,100,'todos']">
              <p-column [style]="{'width':'30px'}" field="semana" header="Semana" [filter]="true" [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'30px'}" field="ano" header="Ano" [filter]="true" [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'30px'}" field="n_DIAS_PRODUCAO" header="Nº Dias Produção" [filter]="true"
                [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'30px'}" field="linha" header="Linha" [filter]="true" [sortable]="true">
              </p-column>
              <p-footer>
                <a [class.disabled]="!acesso_criar" (click)="showDialogToAdd()"
                  style="color: black; cursor:pointer; margin-left:10px;" title="Adicionar nova linha">
                  <i class="material-icons">add</i> Adicionar
                </a>
              </p-footer>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-lg" #dialog data-toggle="modal" [hidden]="true" data-target="#myModalNorm"
  data-backdrop="false"></button>

<!-- Modal dados-->
<p-dialog header="Dias Produção/Semana" [responsive]="true" [positionTop]="0" styleClass="dialognot"
  [style]="{'max-height':'99vh','width':'80%','overflow': 'auto'}" [dismissableMask]="true" appendTo="body"
  [closeOnEscape]="true" [draggable]="false" [(visible)]="dialognovo" [modal]="true">

  <form id="formReclama" role="form" ngNativeValidate (ngSubmit)="gravardados()">
    <!-- Modal Body -->
    <div class="modal-body">
      <div class="form-group col-md-3">
        <label for="semana">Semana</label>
        <input type="number" class="form-control2" id="semana" [(ngModel)]="semana"
          [ngModelOptions]="{standalone: true}" placeholder="" [required]="true" />
      </div>
      <div class="form-group col-md-3">
        <label for="ano">Ano</label>
        <input type="number" class="form-control2" id="ano" [(ngModel)]="ano" [ngModelOptions]="{standalone: true}"
          placeholder="" [required]="true" />
      </div>
      <div class="form-group col-md-3">
        <label for="n_DIAS_PRODUCAO">Nº Dias Produção</label>
        <input type="number" step="0.01" class="form-control2" id="n_DIAS_PRODUCAO" [(ngModel)]="n_DIAS_PRODUCAO"
          [ngModelOptions]="{standalone: true}" placeholder="" [required]="true" />
      </div>
      <div style="padding: 1px 5px 1px 10px; height: 48px;" class="form-group col-md-3 ">
        <label style="font-size: 14px;">Linha:</label><br>
        <p-dropdown [style.background]="cor_linha" class="droplinha droplinha_amostra"
          (onChange)="alteracorlinha($event)" [options]="linhas"
          [style]="{'width':'100%','height':'25px','display':'block'}" [(ngModel)]="id_linha"
          [ngModelOptions]="{standalone: true}" [required]="true">
          <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix" [style.background]="car.value.cor" style="position: relative;height: 25px;">
              {{car.label}}
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <p-footer>
      <button style="float: right; margin-right: 17px;" type="button" class="btn btn-default"
        (click)="dialognovo = false">Fechar</button>
      <button [disabled]="!acesso_apagar" style="float: right; margin-right: 17px;" type="button" (click)="apagar()"
        [hidden]="novo" class="btn btn-danger" data-dismiss="modal">Remover</button>
      <button style="float: right; margin-right: 17px;" type="submit" class="btn btn-success ">Gravar</button>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog key="conf001" appendTo="body"></p-confirmDialog>