<app-controlos></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Tipos de Documento</h4>
          </div>
          <div class="card-content">
            <p-dataTable [value]="dados" selectionMode="single" (onRowSelect)="onRowSelect($event)" [paginator]="true"
              [rows]="25" [rowsPerPageOptions]="[25,50,100,'todos']">
              <p-column field="nome_DOCUMENTO" header="Nome Documento" [filter]="true" [sortable]="true">
              </p-column>
              <p-column field="descricao" header="Tipo Documento" [filter]="true" [sortable]="true">
              </p-column>

              <p-footer>
                <a [class.disabled]="!acesso_criar" (click)="showDialogToAdd()"
                  style="color: black; cursor:pointer; margin-left:10px;" title="Adicionar nova linha">
                  <i class="material-icons">add</i> Adicionar
                </a>
              </p-footer>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-lg" #dialog data-toggle="modal" [hidden]="true" data-target="#myModalNorm"
  data-backdrop="false"></button>

<!-- Modal dados-->
<p-dialog header="Tipos de Documento" [responsive]="true" [positionTop]="0" styleClass="dialognot"
  [style]="{'max-height':'99vh','width':'80%','overflow': 'auto'}" [dismissableMask]="true" appendTo="body"
  [closeOnEscape]="true" [draggable]="false" [(visible)]="dialognovo" [modal]="true">

  <form id="formReclama" role="form" ngNativeValidate (ngSubmit)="gravardados()">
    <!-- Modal Body -->
    <div class="modal-body">
      <div class="form-group col-md-6">
        <label for="nome_DOCUMENTO">Nome Documento</label>
        <input type="text" class="form-control2" id="nome_DOCUMENTO" [(ngModel)]="nome_DOCUMENTO"
          [ngModelOptions]="{standalone: true}" placeholder="" [required]="true" />
      </div>
      <div class="form-group col-md-6">
        <label for="tipo_DOCUMENTO">Tipo Documento</label>
        <p-dropdown appendTo="body" [filter]="true" [options]="tipos"
          [style]="{'width':'200px','height':'25px','background':'white'}" [(ngModel)]="tipo_DOCUMENTO"
          [ngModelOptions]="{standalone: true}" [required]="true">
        </p-dropdown>
      </div>

    </div>

    <p-footer>
      <button style="float: right; margin-right: 17px;" type="button" class="btn btn-default"
        (click)="dialognovo = false">Fechar</button>
      <button [disabled]="!acesso_apagar" style="float: right; margin-right: 17px;" type="button" (click)="apagar()"
        [hidden]="novo" class="btn btn-danger" data-dismiss="modal">Remover</button>
      <button style="float: right; margin-right: 17px;" type="submit" class="btn btn-success ">Gravar</button>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog key="conf001" appendTo="body"></p-confirmDialog>