<app-controlos *ngIf="id_tarefa_input == null" (anteriorbt)="anterior()" (seguintebt)="seguinte()"></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 nopaddingcss">
        <div class="card nomargincss">
          <div *ngIf="id_tarefa_input == null" class="card-header" data-background-color="red">
            <h4 class="title" style="display: -webkit-inline-box;">Tarefas</h4>

            <button (click)="encaminharpara()" [disabled]="disencaminhar" class="btn btn-default" title="Encaminhar"
              type="button" style="color: black; float:right; margin-top: -8px;">Encaminhar
            </button>
            <button (click)="alterarEstado('A')" [disabled]="discancelar" class="btn btn-danger" title="Cancelar"
              type="button" style="color: black; float:right; margin-top: -8px; ">Cancelar
            </button>
            <button (click)="alterarEstado('R')" [disabled]="disrejeitar" class="btn btn-warning" title="Rejeitar"
              type="button" style="color: black; float:right; margin-top: -8px; ">Rejeitar
            </button>
            <button (click)="alterarEstado('C')" [disabled]="disconcluir" class="btn btn-success" title="Concluir"
              type="button" style="color: black; float:right; margin-top: -8px; ">Concluir
            </button>

          </div>

          <div class="card-content">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#detalhe" aria-controls="detalhe" role="tab" data-toggle="tab">Detalhes</a>
              </li>
              <li role="presentation">
                <a href="#listatarefa" aria-controls="listatarefa" role="tab" data-toggle="tab">SubTarefas</a>
                <span class="notification_number">{{listasubtarefas.length}}</span>
              </li>
              <li role="presentation">
                <a href="#ficheiro" aria-controls="ficheiro" role="tab" data-toggle="tab">Ficheiros</a>
                <span class="notification_number">{{uploadedFiles.length}}</span>
              </li>
              <li role="presentation">
                <a href="#atividade" aria-controls="atividade" role="tab" data-toggle="tab">Atividade</a>
              </li>
            </ul>
            <!--*************Detalhes****************-->
            <form (keydown.enter)="$event.preventDefault()" #form id="formReclama" (ngSubmit)="gravar(false)"
              ngNativeValidate>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="detalhe">


                  <div class="container-fluid" style="padding: 0;">

                    <div style="display: inline-block;">

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-4">
                        <label>Tarefa:</label>
                        <input [disabled]="true" type="text" class="form-control2" style="background: #efefefba;"
                          [(ngModel)]="nome_tarefa" [ngModelOptions]="{standalone: true}">
                      </div>

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-5">
                        <label>Origem:</label>
                        <!-- <input [disabled]="!modoedicao" type="text" class="form-control2" [(ngModel)]="origem"
                      [ngModelOptions]="{standalone: true}" style="">-->
                        <br>
                        <a href="{{caminho_origem}}">{{origem}}</a>
                        <a style="cursor: pointer;" (click)="goToTarefas(caminho_origem_pai)">{{origem_pai}}</a>
                      </div>

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-3">
                        <label>Utilizador Origem:</label>
                        <input [disabled]="true" type="text" class="form-control2" style="background: #efefefba;"
                          [(ngModel)]="utz_origem" [ngModelOptions]="{standalone: true}">
                      </div>

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-4">
                        <label>Departamento:</label>
                        <input [disabled]="true" type="text" class="form-control2" style="background: #efefefba;"
                          [(ngModel)]="dep_origem" [ngModelOptions]="{standalone: true}">
                      </div>

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-4">
                        <label>Data/Hora Atribuição:</label>
                        <input required="true" [disabled]="true" type="text" class="form-control2"
                          style="background: #efefefba;" [(ngModel)]="data_atribuicao"
                          [ngModelOptions]="{standalone: true}">
                      </div>

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-4">
                        <label>Atribuído a:</label>
                        <input required="true" [disabled]="true" type="text" class="form-control2"
                          style="background: #efefefba;" [(ngModel)]="atribuido" [ngModelOptions]="{standalone: true}">
                      </div>

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-4">
                        <label>Prioridade:</label>
                        <input required="true" [disabled]="true" type="text" class="form-control2"
                          style="background: #efefefba;" [(ngModel)]="prioridade" [ngModelOptions]="{standalone: true}">
                      </div>

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-4">
                        <label>Prazo Conclusão:</label>
                        <input required="true" [disabled]="true" type="text" class="form-control2"
                          style="background: #efefefba;" [(ngModel)]="prazo_conclusao"
                          [ngModelOptions]="{standalone: true}">
                      </div>

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-4">
                        <label>Encaminhado para:</label>
                        <input required="true" [disabled]="true" type="text" class="form-control2"
                          style="background: #efefefba;" [(ngModel)]="encaminhado"
                          [ngModelOptions]="{standalone: true}">
                      </div>
                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-4">
                        <label>Data/Hora Encaminhamento:</label>
                        <input required="true" [disabled]="true" type="text" class="form-control2"
                          style="background: #efefefba;" [(ngModel)]="data_encaminhado"
                          [ngModelOptions]="{standalone: true}">
                      </div>
                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-6 col-lg-6">
                        <label>Cliente:</label>
                        <input required="true" [disabled]="true" type="text" class="form-control2"
                          style="background: #efefefba;" [(ngModel)]="cliente" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-6 col-lg-6">
                        <label>Referência:</label>
                        <input required="true" [disabled]="true" type="text" class="form-control2"
                          style="background: #efefefba;" [(ngModel)]="referencia" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-6 col-lg-6">
                        <label>Estado:</label>
                        <input required="true" [disabled]="true" type="text" class="form-control2"
                          style="background: #efefefba;" [(ngModel)]="estado" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-12 col-lg-12">
                        <label>Observações Origem:</label>
                        <input required="true" [disabled]="true" type="text" class="form-control2"
                          style="background: #efefefba;" [(ngModel)]="observacoes"
                          [ngModelOptions]="{standalone: true}">
                      </div>


                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-4">
                        <label>Conclusão (%):</label>
                        <input [disabled]="!modoedicao" min="0" max="100" [disabled]="true" type="number"
                          style="color: black; font-weight: 500;" class="form-control2 enabled"
                          [(ngModel)]="percentagem_conclusao"
                          [style.background]="(percentagem_conclusao == null)? '': ('linear-gradient(to right, #299bfd '+percentagem_conclusao+'%, white '+percentagem_conclusao+'%)')"
                          [ngModelOptions]="{standalone: true}">
                      </div>

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-4">
                        <label>Tempo Gasto (H):</label>
                        <input [disabled]="!modoedicao" min="0" [disabled]="true" type="number" step="0.01"
                          class="form-control2 enabled" [(ngModel)]="tempo_gasto" [ngModelOptions]="{standalone: true}">
                      </div>

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-4 col-lg-4 progressBarTarefas">
                        <label>Progresso SubTarefas <b>({{listasubtarefas.length}})</b>:</label>
                        <p-progressBar [value]="progresso"></p-progressBar>
                      </div>

                      <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-12 col-lg-12">
                        <label>Descrição das Ações Efetuadas:</label>
                        <textarea [disabled]="!modoedicao" rows="6" pInputTextarea [(ngModel)]="descricao"
                          (keydown.enter)="$event.stopPropagation()" class="form-control2 enabled"
                          [ngModelOptions]="{standalone: true}" style="height: auto; width: 100%;"></textarea>
                      </div>

                      <div *ngIf="campo_estado == 'R'" style="padding: 1px 5px 1px 10px;"
                        class="form-group col-md-12 col-lg-12">
                        <label>Motivo Rejeição:</label>
                        <textarea (keydown.enter)="$event.stopPropagation()" [disabled]="!modoedicao" rows="3"
                          pInputTextarea [(ngModel)]="mototivoRejeicao_texto" class="form-control2 enabled"
                          [ngModelOptions]="{standalone: true}" style="height: auto; width: 100%;"></textarea>
                      </div>

                      <div *ngIf="justificacao_ALTERACAO_ESTADO != '' && justificacao_ALTERACAO_ESTADO != null"
                        style="padding: 1px 5px 1px 10px;" class="form-group col-md-12 col-lg-12">
                        <label>Justificação:</label>
                        <textarea (keydown.enter)="$event.stopPropagation()" [disabled]="!modoedicao" rows="3"
                          pInputTextarea [(ngModel)]="justificacao_ALTERACAO_ESTADO" class="form-control2 enabled"
                          [ngModelOptions]="{standalone: true}" style="height: auto; width: 100%;"></textarea>
                      </div>


                    </div>
                  </div>

                  <button type="reset" (click)="backview()" class="btn btn-danger pull-right"
                    [hidden]="!modoedicao">Cancelar</button>
                  <button type="submit" class="btn btn-success pull-right" [hidden]="!modoedicao">Gravar</button>
                  <div class="clearfix"></div>


                </div>

                <!--*************SubTarefas****************-->
                <div role="tabpanel" class="tab-pane" id="listatarefa">
                  <div class="row row-bordered" style="width: 100%;">
                    <div class="col-md-11" style="padding-bottom: 0">
                      <h4 style="margin: 0px">
                        <button (click)="adicionar()" type="button" [disabled]="!modoedicao"
                          class="add_task cqpim_button cqpim_small_button font-white bg-green op rounded_2 cqpim_tooltip"
                          title="Adicionar" style="padding: 1px 6px; ">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                          Adicionar SubTarefa
                        </button>
                      </h4>
                    </div>
                  </div>
                  <div *ngIf="listasubtarefas.length" class="listasubtarefas">
                    <p-dataTable class="tabelahometarefa2" [style]="{'min-height':'100px'}" [value]="listasubtarefas"
                      dataKey="id">
                      <p-column [style]="{'width':'13%'}" field="nome" header="Nome Tarefas">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                          <span *ngIf="car['existesubtarefas']" style="font-size: 10px; color: #37414b;"
                            (click)="abrirsubtarefas(car['id'])" class="glyphicon glyphicon-list"></span>
                          <span (click)="goToTarefas(car['id'],null)"
                            title="{{car['nome_tarefa'] }}">{{car['nome_tarefa']}}</span>
                          <span style="color: #ffa91f; font-size: 10px;" (click)="goToTarefas(car['id'],null)"
                            class="glyphicon glyphicon-share-alt"></span>
                          <!--a (click)="atualizaTarefa(car['id_tarefa'])">{{car['tarefa'] }}</a-->
                        </ng-template>
                      </p-column>
                      <p-column [style]="{'width':'6%'}" field="utz_origem" header="Utili. Origem"></p-column>
                      <p-column [style]="{'width':'6%'}" field="dep_origem" header="Dep. Origem"></p-column>
                      <p-column [style]="{'width':'6%'}" field="data_atribuicao" header="Data/Hora Atribuição">
                      </p-column>
                      <p-column [style]="{'width':'7%'}" field="atribuido" header="Atribuído a"></p-column>
                      <p-column [style]="{'width':'6%'}" field="encaminhado" header="Encaminhado para"></p-column>
                      <p-column [style]="{'width':'6%'}" field="data_encaminhado" header="Data/Hora Enc."></p-column>
                      <p-column [style]="{'width':'7%'}" field="prazo_conclusao" header="Prazo Conclusão"></p-column>
                      <!--p-column [style]="{'width':'4%'}" [sortable]="true" [filter]="true" field="prioridade"
                        header="Prioridade"></p-column-->
                      <p-column [style]="{'width':'4%'}" field="estado" header="Estado">
                      </p-column>
                      <p-column [style]="{'width':'6%'}" field="data_conclusao" header="Data/Hora Conclusão"></p-column>
                      <p-column [style]="{'width':'6%'}" field="utz_concluiu" header="Utili. Concluíu"></p-column>
                      <p-column [style]="{'width':'4%'}" [editable]="false" field="descricao" header="">
                        <ng-template let-car="rowData" let-index="rowIndex" pTemplate="body">
                          <button style="padding: 3px 0px 3px 12px; margin: 3px 0 3px 0;" type="button"
                            class="btn btn-danger btn-xs"
                            [disabled]="!modoedicao || (!car.podeapagar && car.id != null) || campo_estado == 'C' || campo_estado == 'A'"
                            title="Cancelar SubTarefa" (click)="CancelarSubTarefa(car.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </ng-template>
                      </p-column>
                    </p-dataTable>
                    <!--div *ngFor="let tarefa of listasubtarefas" class="dd-milestone">
                      <div class="col-md-12 dd-milestone-title" style="padding: 0;">
                        <div class="col-md-1" style="padding-left: 6px;     padding-bottom: 0;">
                          <!--p-toggleButton (onChange)="handleChange($event)" [(ngModel)]="tarefa.estado"
                          [ngModelOptions]="{standalone: true}" onLabel="Concluída" offLabel="Por Concluir"
                          onIcon="fa-check-square" offIcon="fa-square"></p-toggleButton-->
                    <!--  {{tarefa.estado}}
                        </div>
                        <div class="col-md-11" style="padding-left: 6px;">
                          <div class="col-md-7" style="padding-left: 6px;">
                            <span class=" ms-title" (click)="goToTarefas(tarefa.id)">{{tarefa.nome_tarefa}}</span>
                            <span class=" ms-title" style="font-size: 10px; top: -7px;">{{tarefa.atribuido}}</span>
                          </div>
                          <div class="col-md-3 dd-milestone-info" style="padding-top: 14px; text-align: -webkit-right">
                            <strong>Data/Hora Atribuição:</strong> {{tarefa.data_atribuicao}}
                            <strong>Prazo Conclusão:</strong> {{tarefa.prazo_conclusao}}
                          </div>
                          <div class="col-md-1 dd-milestone-actions">
                            <!--button type="button"
                            class="edit-milestone cqpim_button cqpim_small_button font-white bg-amber op rounded_2 cqpim_tooltip"
                            title="Editar">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          </button-->
                    <!--button type="button"
                              class="delete_stage_conf cqpim_button cqpim_small_button font-white bg-red op rounded_2 cqpim_tooltip"
                              title="Eliminar">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </div>
                          <div class="col-md-12 dd-milestone-title"
                            style="padding-top: 0; padding-bottom: 0; padding-left: 124px; top: -9px;">
                            <strong>Observações:</strong>
                            {{tarefa.observacoes}}
                          </div>
                        </div>
                      </div>
                    </div-->
                  </div>
                </div>

                <!--*************FICHEIROS****************-->
                <div role="tabpanel" class="tab-pane" id="ficheiro">
                  <div class="form-group col-md-6 col-lg-6">
                    <p-fileUpload [disabled]="!modoedicao || campo_estado == 'C' || campo_estado == 'A'" #fileInput
                      name="myfile[]" customUpload="true" (uploadHandler)="onUpload($event)" multiple="multiple"
                      maxFileSize="10000000" invalidFileSizeMessageSummary="{0}: Tamanho do ficheiro inválido, "
                      invalidFileTypeMessageDetail="tipos de ficheiros permitidos: {0}."
                      invalidFileSizeMessageDetail="O tamanho máximo do upload é {0}."
                      invalidFileTypeMessageSummary="{0}: tipo de ficheiro inválido, " chooseLabel="Selecionar"
                      uploadLabel="Carregar" cancelLabel="Cancelar">
                      <ng-template let-file pTemplate="file">
                        <div class="ui-fileupload-row">
                          <div>
                            <img [src]="file.objectURL" *ngIf="isImage(file)" [width]="25" />
                            <img [src]="fileImage(file)" *ngIf="!isImage(file)" [width]="25" />
                          </div>
                          <div>{{file.name}}</div>
                          <input type="text" placeholder="Descrição" style="margin-top: 9px;" class="form-control2"
                            [(ngModel)]="filedescricao[fileInput.files.indexOf(file)]"
                            [ngModelOptions]="{standalone: true}">
                          <div>
                            <button icon="fa-close" pButton type="button" label="Remove"
                              (click)="removeFile(file, fileInput)"></button>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="content">
                        <div style="text-align: -webkit-center; width: 100%; color: gainsboro;">Upload Files</div>
                      </ng-template>
                    </p-fileUpload>
                  </div>

                  <div class="form-group col-md-6 col-lg-6">
                    <p-dataTable [style]="{'width':'100%'}"
                      [editable]="modoedicao && campo_estado != 'C' && campo_estado != 'A'" [value]="uploadedFiles"
                      styleClass="ExcelTable2007">
                      <p-column [editable]="false" field="name" styleClass="ExcelTable2007tdname" header="NOME">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                          <span title="{{car['name'] }}">{{car['name'] }}</span>
                        </ng-template>
                      </p-column>
                      <p-column [editable]="false" field="tamanho" header="TAMANHO">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                          {{car['size'] }} bytes
                        </ng-template>
                      </p-column>
                      <p-column [editable]="false" field="descricao" header="DESCRIÇÃO">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                          {{car['descricao']}}
                        </ng-template>
                      </p-column>
                      <p-column [editable]="false" field="descricao" header="">
                        <ng-template let-car="rowData" let-index="rowIndex" pTemplate="body">
                          <button type="button" class="btn btn-default btn-xs" title="Ver Ficheiro"
                            (click)="showDialog(car.type, car.src,car.name,car.datatype,car.ficheiro)">
                            <i class="glyphicon glyphicon-zoom-in"></i>
                          </button>
                          <a class="btn btn-primary btn-xs" title="Download"
                            (click)="download(car.name,car.src,car.datatype,car.ficheiro)" target="_blank"
                            style="padding: 3px 0px 3px 12px; margin: 0;">
                            <i class="glyphicon glyphicon-download"></i>
                          </a>
                          <button style="padding: 3px 0px 3px 12px; margin: 3px 0 3px 0;" type="button"
                            class="btn btn-danger btn-xs"
                            [disabled]="!modoedicao || (!apagarficheiros && car.id != null) || campo_estado == 'C' || campo_estado == 'A'"
                            title="Apagar" (click)="removerficheiro(index)">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </ng-template>
                      </p-column>
                    </p-dataTable>

                    <button type="reset" (click)="backview()" class="btn btn-danger pull-right"
                      [hidden]="!modoedicao">Cancelar</button>
                    <button type="submit" class="btn btn-success pull-right" [hidden]="!modoedicao">Gravar</button>
                    <div class="clearfix"></div>

                  </div>
                </div>

                <!--*************ATIVADE****************-->
                <div role="tabpanel" class="tab-pane" id="atividade">
                  <div class="form-group col-md-12 col-lg-12">
                    <p-dataTable [style]="{'width':'100%'}" [value]="atividades" styleClass="ExcelTable2007">
                      <p-column [style]="{'width':'136px'}" field="data" styleClass="ExcelTable2007tdname"
                        header="Data/Hora">
                      </p-column>
                      <p-column [style]="{'text-align':'left','width':'290px'}" field="utilizador" header="Utilizador">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                          <span style="padding-left: 5px;">{{car['utilizador']}}</span>
                        </ng-template>
                      </p-column>
                      <p-column [style]="{'text-align':'left'}" field="descricao" header="Descrição">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                          <span style="padding-left: 5px;">{{car['descricao']}}</span>
                        </ng-template>
                      </p-column>
                      <p-column [style]="{'text-align':'left'}" field="justificacao" header="Justificação">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                          <span style="padding-left: 5px;">{{car['justificacao']}}</span>
                        </ng-template>
                      </p-column>
                    </p-dataTable>
                    <div class="clearfix"></div>

                  </div>
                </div>



              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<button type="button" class="btn btn-danger btn-block" #inputnotifi [hidden]="true"
  onclick="demo.showNotification('top','right','Inseriu com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputgravou [hidden]="true"
  onclick="demo.showNotification('top','right','Alterado com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputapagar [hidden]="true"
  onclick="demo.showNotification('top','right','Apagado com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputerro [hidden]="true"
  onclick="demo.showNotification('top','right','ERRO!! Registo não foi Gravado!',4)"></button>
<button type="button" id="editarclick2" #alteraeditar [hidden]="true"></button>
<button type="button" id="editarclick4" #alteraeditarhid [hidden]="true"></button>
<button type="button" class="btn btn-danger btn-block" #inputerroficheiro [hidden]="true"
  onclick="demo.showNotification('top','right','ERRO!! Falha no Download!',4)"></button>

<p-dialog header="Encaminhar Para" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh','width': '100%'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="displayEncaminhar"
  [modal]="true">

  <!-- Modal Header -->

  <form role="form" ngNativeValidate (ngSubmit)="gravar(true)">
    <!-- Modal Body -->
    <div class="">
      <div style="padding: 1px 5px 1px 10px; min-height: 50vh;" class="form-group col-md-12 col-lg-12">
        <label>Utilizador de Registo:</label>
        <p-dropdown [filter]="true" [options]="drop_utilizadores"
          [style]="{'width':'100%','height':'33px','font-size':'15px','background':'white'}"
          [(ngModel)]="utz_encaminhado" [ngModelOptions]="{standalone: true}"></p-dropdown>
      </div>

    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="displayEncaminhar = false">Fechar</button>
      <button type="submit" class="btn btn-success ">Gravar</button>
    </div>
  </form>

</p-dialog>

<!--  POPUP MOSTRAR FICHEIRO-->
<p-dialog [header]="nomeficheiro" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="display"
  [modal]="true">
  <div style="width: 80vw; text-align: -webkit-center;">
    <audio *ngIf="type == 'audio' && display" [src]="srcelement" id="player" style="max-height: 79vh; max-width: 100%;"
      autoplay="" controls="">Your
      browser does not support the audio element.</audio>
    <iframe *ngIf="( type == 'txt')  && display" class="embed-responsive-item"
      style="width: 100%; max-height: 90vh; height: 79vh; max-width: 100%;" [src]="srcelement" type="application/pdf"
      scale="aspect" frameborder="0"></iframe>
    <div *ngIf="(type == 'pdf' )  && display" style="width: 100%; max-height: 90vh; height: 79vh; max-width: 100%;">
      <object *ngIf="(type == 'pdf' )  && display" class="embed-responsive-item"
        style="width: 100%; max-height: 90vh; height: 79vh; max-width: 100%;" [data]="srcelement" type="application/pdf"
        scale="aspect" frameborder="0"></object>
    </div>
    <img *ngIf="type == 'img' && display" [src]="srcelement" style="max-height: 79vh; max-width: 100%;">
    <video *ngIf="type == 'video' && display" [src]="srcelement" id="player" style="max-height: 79vh; max-width: 100%;"
      autoplay="" controls="">Video
      format or MIME type is not supported</video>
  </div>
</p-dialog>


<p-dialog header="Aviso" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh'}" [dismissableMask]="true"
  appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="displayvalidacao" [modal]="true">
  <div style="width: 80vw; text-align: -webkit-center;">
    <h6>{{errovalida}}</h6>
  </div>
</p-dialog>



<p-dialog header="Motivo Rejeição" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh','width': '100%'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false"
  [(visible)]="displayMotivoRejeicao" [modal]="true">

  <!-- Modal Header -->

  <form role="form" ngNativeValidate (ngSubmit)="atualizaestadoTarefa(id_tarefa, 'R')">
    <!-- Modal Body -->
    <div class="">
      <div style="padding: 1px 5px 1px 10px; min-height: 50vh;" class="form-group col-md-12 col-lg-12">
        <label>Motivo:</label>
        <textarea required="true" rows="6" pInputTextarea [(ngModel)]="mototivoRejeicao" class="form-control2 enabled"
          [ngModelOptions]="{standalone: true}" style="height: auto; width: 500px;"></textarea>
      </div>

    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="displayMotivoRejeicao = false">Fechar</button>
      <button type="submit" class="btn btn-success ">Gravar</button>
    </div>
  </form>

</p-dialog>



<button class="btn btn-primary btn-lg" #dialoglinhas data-toggle="modal" [hidden]="true" data-target="#myModallinhas"
  data-backdrop="false"></button>
<!-- Modal -->
<div style="padding-top: 20px; background: #80808073; height: 100vh;" class="modal fade" id="myModallinhas"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-top">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Nova SubTarefa</h4>
        </div>
        <form id="fromitem" (ngSubmit)="criar_subtarefa()" ngNativeValidate>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-black label-floating">
                  <p style="font-size: 14px;">Ação</p>
                  <p-dropdown [filter]="true" [options]="drop_accoes" [style]="{'width':'90%'}"
                    [(ngModel)]="novo_id_ACCAO" [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao "
                    [required]="true">
                  </p-dropdown>
                  <button type="button" class="btn btn-success btn-xs" [disabled]="!modoedicao" title="Adicionar"
                    style="height: 27px; margin: 0;" (click)="showDialogToAdd()">
                    <span class="glyphicon glyphicon-plus" style="margin-right: 0;"></span>
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-black label-floating">
                  <p style="font-size: 14px;">Responsável</p>
                  <!--select [(ngModel)]="novo_responsavel" [ngModelOptions]=" {standalone: true}" class="form-control2">
                    <optgroup [label]="i.label" *ngFor="let i of drop_utilizadores">
                      <option [selected]="f.value == novo_responsavel" [value]="f.value" *ngFor="let f of i.itens">
                        {{f.label}}</option>
                    </optgroup>
                  </select-->
                  <p-dropdown [filter]="true" [options]="drop_utilizadores" [style]="{'width':'100%'}"
                    [(ngModel)]="novo_responsavel" [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao"
                    [required]="true">
                  </p-dropdown>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group form-black label-floating">
                  <p style="font-size: 14px;">Data Ação</p>
                  <p-calendar required [style]="{'width':'94%'}" dateFormat="yy-mm-dd" [monthNavigator]="true"
                    [yearNavigator]="true" yearRange="2000:2070" [(ngModel)]="data_ACCAO" [disabled]="!modoedicao"
                    [ngModelOptions]="{standalone: true}" [showIcon]="true" [hidden]="!modoedicao"></p-calendar>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group form-black label-floating">
                  <p style="font-size: 14px;">Hora Ação</p>
                  <input [disabled]="!modoedicao" style="padding: 5px 4px;height: 31px;" [(ngModel)]="hora_ACCAO"
                    [ngModelOptions]="{standalone: true}" type="time" min
                    class="inputn ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                    ng-reflect-ng-class="ui-inputtext ui-widget ui-stat" required="true" placeholder="hh:mm">
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 5px;">
              <div class="col-md-12">
                <div class="form-group">
                  <div>
                    <p style="font-size: 14px;">Observações</p>
                    <textarea class="form-control1" rows="3" [(ngModel)]="novo_observacoes"
                      [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao"></textarea>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" #closedialoglinha class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-success">Gravar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- ADICIONAR ACÇÔES -->

<!-- Modal dados-->

<p-dialog header="Adiconar Ação" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh','width': '100%'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="displayAddAccao"
  (onHide)="onHide()" [modal]="true">

  <!-- Modal Header -->

  <form role="form" ngNativeValidate (ngSubmit)="gravardados()">
    <!-- Modal Body -->
    <div class="">
      <div class="form-group">
        <label for="descricao">Descrição PT</label>
        <input autocomplete="off" type="text" [disabled]="false" class="form-control2" id="descricaopt"
          [(ngModel)]="descricaopt" [ngModelOptions]="{standalone: true}"
          placeholder="Introduza a Descrição em Português" required />
      </div>
    </div>
    <!-- Modal Footer -->
    <div class="">
      <button type="button" class="btn btn-default" (click)="displayAddAccao = false">Fechar</button>
      <button type="submit" class="btn btn-success ">Gravar</button>
    </div>
  </form>

</p-dialog>


<p-dialog header="SubTarefas" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh','width': '100%'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false"
  [(visible)]="displaylistasubtarefasdialog" [modal]="true">

  <!-- Modal Header -->
  <!-- Modal Body -->
  <div class="">
    <p-dataTable class="tabelahometarefa2" [style]="{'min-height':'100px'}" [value]="listasubtarefasdialog"
      dataKey="id">
      <p-column [style]="{'width':'13%'}" field="nome" header="Nome Tarefas">
        <ng-template let-col let-car="rowData" pTemplate="body">
          <!--span *ngIf="car['existesubtarefas']" style="font-size: 10px;" (click)="abrirsubtarefas(car['id'])"
            class="glyphicon glyphicon-list"></span-->
          <span (click)="goToTarefas(car['id'],null)" title="{{car['nome_tarefa'] }}">{{car['nome_tarefa']}}</span>
          <span style="color: #ffa91f; font-size: 10px;" (click)="goToTarefas(car['id'],null)"
            class="glyphicon glyphicon-share-alt"></span>
          <!--a (click)="atualizaTarefa(car['id_tarefa'])">{{car['tarefa'] }}</a-->
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'6%'}" field="utz_origem" header="Utili. Origem"></p-column>
      <p-column [style]="{'width':'6%'}" field="dep_origem" header="Dep. Origem"></p-column>
      <p-column [style]="{'width':'6%'}" field="data_atribuicao" header="Data/Hora Atribuição">
      </p-column>
      <p-column [style]="{'width':'7%'}" field="atribuido" header="Atribuído a"></p-column>
      <p-column [style]="{'width':'6%'}" field="encaminhado" header="Encaminhado para"></p-column>
      <p-column [style]="{'width':'6%'}" field="data_encaminhado" header="Data/Hora Enc."></p-column>
      <p-column [style]="{'width':'7%'}" field="prazo_conclusao" header="Prazo Conclusão"></p-column>
      <!--p-column [style]="{'width':'4%'}" [sortable]="true" [filter]="true" field="prioridade"
                        header="Prioridade"></p-column-->
      <p-column [style]="{'width':'4%'}" field="estado" header="Estado">
      </p-column>
      <p-column [style]="{'width':'6%'}" field="data_conclusao" header="Data/Hora Conclusão"></p-column>
      <p-column [style]="{'width':'6%'}" field="utz_concluiu" header="Utili. Concluíu"></p-column>
    </p-dataTable>

  </div>
  <!-- Modal Footer -->
  <div class="" style="text-align: -webkit-center;">
    <button type="button" class="btn btn-default" (click)="displaylistasubtarefasdialog = false">Fechar</button>

  </div>
</p-dialog>



<p-dialog header="Justificação Alteração de Conclusão" [responsive]="true" [positionTop]="0"
  [style]="{'max-height':'99vh','width': '100%'}" [dismissableMask]="true" appendTo="body" [closeOnEscape]="false"
  [draggable]="false" [(visible)]="displayJustificacaoCONCLUSAO" [modal]="true">

  <!-- Modal Header -->

  <form role="form" ngNativeValidate (ngSubmit)="atualizarlinhajustificacao()">
    <!-- Modal Body -->
    <div class="">
      <div style="padding: 1px 5px 1px 10px; min-height: 50vh;" class="form-group col-md-12 col-lg-12">
        <label>Justificação:</label>
        <textarea required="true" rows="6" pInputTextarea [(ngModel)]="justificacao" class="form-control2 enabled"
          [ngModelOptions]="{standalone: true}" style="height: auto; width: 500px;"></textarea>
      </div>

    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="submit" class="btn btn-success ">Gravar</button>
    </div>
  </form>

</p-dialog>