<style>
  body {
    background: white !important;
  }
</style>
<div class="container">

  <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

    <div class="row">
      <div class="iconmelon">

        <img src="assets/img/logo.png" />
        <h5><b>SGIID</b> - Sistema de Gestão Integrado de Informação da Doureca</h5>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title text-center">LOGIN</div>
      </div>

      <div class="panel-body">
        <div [hidden]="erro" class="alert alert-danger" style="margin-top: 10px;">
          <strong>Login Falhou!</strong> Username ou Password incorretos!!
        </div>

        <form name="form" id="form" class="form-horizontal" (ngSubmit)="login()" ngNativeValidate>

          <div class="input-group" style="padding-right: 22px;">
            <span class="input-group-addon iconspan"><i class="glyphicon glyphicon-user"></i></span>
            <input id="user" type="text" [(ngModel)]="user" [ngModelOptions]="{standalone: true}" class="form-control" name="user" value=""
              placeholder="Utilizador" style="margin-top: 22px;" required>
          </div>

          <div class="input-group" style="padding-right: 22px;">
            <span class="input-group-addon iconspan"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" name="password"
              placeholder="Password" style="margin-top: 22px;" required>
          </div>

          <div class="form-group">
            <!-- Button -->
            <div class="col-sm-12 controls">

              <button type="submit" class="btn btn-default pull-right">
                <i [hidden]="login_status" class="glyphicon glyphicon-log-in"></i>
                <i [hidden]="!login_status" class="fa fa-spinner fa-spin" style="left: -9px;"></i>
                Log in</button>
            </div>
          </div>

        </form>

      </div>
    </div>
    <div style="text-align: center">
      <button (click)="abrirdialog()" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button">
        <i class="material-icons">dialpad</i><div class="ripple-container"></div>
      </button>
    </div>
  </div>
</div>

<div id="particles"></div>


<button class="btn btn-primary btn-lg" #dialogkeypad data-toggle="modal" [hidden]="true" data-target="#dialogkeypad" data-backdrop="false"></button>
<!-- Modal keypad-->
<div class="modal fade" id="dialogkeypad" #dialogopen tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 30%">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
        <h4 class="modal-title" id="myModalLabel">
          <i [hidden]="login_statuspopup" class="glyphicon glyphicon-log-in"></i>
          <i [hidden]="!login_statuspopup" class="fa fa-spinner fa-spin" style="left: -9px;"></i> Log in
          <span [hidden]="encontrou" style=" font-size: 13px; color: red;"> - Utilizador não foi encontrado! </span>
        </h4>
      </div>
      <form role="form">
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-12" class="keypad">
            <div class="col-md-12">
              <div class="col-md-12">
                <input class="form-control" style="font-size: 60px;" [disabled]="true" [(ngModel)]="user_code" [ngModelOptions]="{standalone: true}" type="password">
              </div>
              <div class="col-md-4">
                <button (click)="marcar('1')" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button">1</button>
              </div>
              <div class="col-md-4">
                <button (click)="marcar('2')" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button">2</button>
              </div>
              <div class="col-md-4">
                <button (click)="marcar('3')" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button">3</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-4">
                <button (click)="marcar('4')" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button">4</button>
              </div>
              <div class="col-md-4">
                <button (click)="marcar('5')" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button">5</button>
              </div>
              <div class="col-md-4">
                <button (click)="marcar('6')" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button">6</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-4">
                <button (click)="marcar('7')" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button">7</button>
              </div>
              <div class="col-md-4">
                <button (click)="marcar('8')" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button">8</button>
              </div>
              <div class="col-md-4">
                <button (click)="marcar('9')" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button">9</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-4">
                <button (click)="undo()" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button"><i class="material-icons">backspace</i></button>
              </div>
              <div class="col-md-4">
                <button (click)="marcar('0')" class="btn btn-white btn-round btn-just-icon" style="color: black;" type="button">0</button>
              </div>
              <div class="col-md-4">
                <button (click)="validar()" class="btn btn-white btn-round btn-just-icon" style="color: black; background: rgba(0, 128, 0, 0.42);"
                  type="button"><i class="material-icons">keyboard_return</i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" style="width: 100%" #closedialog data-dismiss="modal">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>