 .gradient {
    background: -moz-linear-gradient(left, rgba(109, 109, 109, 0.25) 0%, rgba(124, 124, 124, 0.25) 42%, rgba(64, 64, 64, 0.25) 70%, rgba(0, 0, 0, 0.26) 100%);
    
    background: -webkit-linear-gradient(left, rgba(109, 109, 109, 0.25) 0%, rgba(124, 124, 124, 0.25) 42%, rgba(64, 64, 64, 0.25) 70%, rgba(0, 0, 0, 0.26) 100%);
    
    background: linear-gradient(to right, rgba(109, 109, 109, 0.25) 0%, rgba(124, 124, 124, 0.25) 42%, rgba(64, 64, 64, 0.25) 70%, rgba(0, 0, 0, 0.26) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#406d6d6d', endColorstr='#42000000', GradientType=1);
    
}