<app-controlos (atualiza)="atualizar()"></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Manutenções</h4>
            <p class="category"></p>
          </div>
          <div class="card-content table-responsive">

            <p-dataTable (onFilter)="atualizaids()" [emptyMessage]="mensagemtabela" [style]="{'min-height':'300px'}"
              [value]="cols" dataKey="id" [rows]="25" [paginator]="true" [pageLinks]="3" (onRowDblclick)="abrir($event)"
              [rowsPerPageOptions]="[25,50,100,'todos']">
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="id" header="Nº Manut">
                <ng-template pTemplate="filter" let-col>
                  <input class="ui-column-filter ui-inputtext ui-widget ui-state-default ui-corner-all" [(ngModel)]="id_manu"
                    #v (ngModelChange)="filtrar(v.value,col.field,false,'in')" type="text">
                </ng-template>
              </p-column>
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="tipo_manu" header="Tipo">
                <ng-template pTemplate="filter" let-col>
                  <input class="ui-column-filter ui-inputtext ui-widget ui-state-default ui-corner-all" [(ngModel)]="tipo_manu"
                    #v2 (ngModelChange)="filtrar(v2.value,col.field)" type="text">
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
                  <div [style.background]="car['cor_tipo']">
                    {{car['tipo_manu']}}
                  </div>
                </ng-template>
              </p-column>
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="data" header="Data Planea.">
                <ng-template pTemplate="filter" let-col>
                  <input class="ui-column-filter ui-inputtext ui-widget ui-state-default ui-corner-all" [(ngModel)]="data"
                    #v3 (ngModelChange)="filtrar(v3.value,col.field)" type="text">
                </ng-template>
              </p-column>
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="linha" header="Linha">
                <ng-template pTemplate="filter" let-col>
                  <p-dropdown [options]="linhas" [(ngModel)]="linha" [style]="{'width':'100%'}" (onChange)="filtrar($event.value,col.field,true)"
                    styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
                  <div [style.background]="car['cor']">
                    {{car['linha']}}
                  </div>
                </ng-template>
              </p-column>
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="turno" header="Turno" [style]="{'width':'10%'}">
                <ng-template pTemplate="filter" let-col>
                  <input class="ui-column-filter ui-inputtext ui-widget ui-state-default ui-corner-all" [(ngModel)]="turno"
                    #v4 (ngModelChange)="filtrar(v4.value,col.field)" type="text">
                </ng-template>
              </p-column>
              <p-column [sortable]="true" [filter]="true" filterMatchMode="in" styleclass="text-danger" field="estado"
                header="Estado">
                <ng-template pTemplate="filter" let-col>
                  <p-multiSelect [(ngModel)]="filtro" [ngModelOptions]="{standalone: true}" [options]="estados" [style]="{'width':'100%'}"
                    (onChange)="filtrar($event.value,col.field,false,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
                </ng-template>
              </p-column>
              <p-column styleClass="col-button" [style]="{'width':'20%'}">
                <ng-template pTemplate="header">
                  <a (click)="reset()" style="color: black; float: right; cursor: pointer;">
                    <i class="fa fa-eraser" aria-hidden="true"> Limpar</i>
                    <div class="ripple-container"></div>
                  </a>
                  <p-dropdown [options]="banhos" scrollHeight="150px" [(ngModel)]="banho" [style]="{'width':'70%'}"
                    (onChange)="pesquisarbanhos($event.value)" styleClass="ui-column-filter" filter="true">
                    <ng-template let-car pTemplate="item">
                      <span [style.color]="car.font_cor">
                        {{car.label}}
                      </span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
                  <a style="color: black; cursor:pointer;" title="Ver mais" [routerLink]="['/manutencao/view']"
                    [queryParams]="{ id: car.id }">
                    <i class="material-icons">search</i>
                  </a>
                  <a [hidden]="disduplicar" (click)="duplicar(car.id)" style="color: black; cursor:pointer;" title="Duplicar">
                    <i class="material-icons">content_copy</i>
                  </a>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-danger btn-block" #inputgravou [hidden]="true" onclick="demo.showNotification('top','right','Duplicado com Sucesso!',2)"></button>
<button class="btn btn-danger btn-block" #inputerro [hidden]="true" onclick="demo.showNotification('top','right','ERRO!! Registo não foi Gravado!',4)"></button>


<button type="button" [hidden]="true" #waitingDialog class="btn btn-primary" onclick="waitingDialog.show('A Duplicar Registo', {dialogSize: 'md'});"></button>
<button type="button" [hidden]="true" #waitingDialogclose class="btn btn-primary" onclick="waitingDialog.hide();"></button>