.div_graficos .table {
    color: #555 !important;
}

.div_graficos .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}

.div_graficos .table>tbody>tr>td, .div_graficos .table>tbody>tr>th {
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.div_graficos .table>tfoot>tr>td, .div_graficos .table>tfoot>tr>th {
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.div_graficos .table thead th {
    color: #554;
    border-bottom-width: 2px;
}

.div_graficos .table td, .table th {
    /*font-size: 10px;*/
    font-size: 12px;
    /*border-color: #ebedf2 !important;*/
    /* padding: 0.75rem !important;*/
    padding: 4px;
}

/* table full-width */

.div_graficos .table-full-width {
    margin-left: -15px;
    margin-right: -15px;
}

/* table bordered states */

.div_graficos .table-bordered-bd-default td, .div_graficos .table-bordered-bd-default th {
    border: 1px solid #607D8B !important;
}

.div_graficos .table-bordered-bd-primary td, .div_graficos .table-bordered-bd-primary th {
    border: 1px solid #1D62F0 !important;
}

.div_graficos .table-bordered-bd-info td, .div_graficos .table-bordered-bd-info th {
    border: 1px solid #23CCEF !important;
}

.div_graficos .table-bordered-bd-success td, .div_graficos .table-bordered-bd-success th {
    border: 1px solid #59d05d !important;
}

.div_graficos .table-bordered-bd-warning td, .div_graficos .table-bordered-bd-warning th {
    border: 1px solid #fbad4c !important;
}

.div_graficos .table-bordered-bd-danger td, .div_graficos .table-bordered-bd-danger th {
    border: 1px solid #ff646d !important;
}

.div_graficos .table-striped td, .div_graficos .table-striped th {
    border-top: 1px solid #c8c2c2!important;
    border-bottom: 1px solid #c8c2c2!important;
}

/* table head background states*/

.div_graficos .table-head-bg-default {
    border: 1px solid #607D8B !important;
}

.div_graficos .table-head-bg-primary {
    border: 1px solid #1D62F0 !important;
}

.div_graficos .table-head-bg-info {
    border: 1px solid #23CCEF !important;
}

.div_graficos .table-head-bg-success {
    border: 1px solid #59d05d !important;
}

.div_graficos .table-head-bg-warning {
    border: 1px solid #fbad4c !important;
}

.div_graficos .table-head-bg-danger {
    border: 1px solid #ff646d !important;
}

.div_graficos .table-head-bg-default thead th, .div_graficos .table-striped-bg-default tbody tr:nth-of-type(odd) {
    background: #607D8B !important;
    color: #ffffff !important;
    border: 0px !important;
}

.div_graficos .table-head-bg-primary thead th, .div_graficos .table-striped-bg-primary tbody tr:nth-of-type(odd) {
    background: #1D62F0 !important;
    color: #ffffff !important;
    border: 0px !important;
}

.div_graficos .table-head-bg-info thead th, .div_graficos .table-striped-bg-info tbody tr:nth-of-type(odd) {
    background: #23CCEF !important;
    color: #ffffff !important;
    border: 0px !important;
}

.div_graficos .table-head-bg-success thead th, .div_graficos .table-striped-bg-success tbody tr:nth-of-type(odd) {
    background: #59d05d !important;
    color: #ffffff !important;
    border: 0px !important;
}

.div_graficos .table-head-bg-warning thead th, .div_graficos .table-striped-bg-warning tbody tr:nth-of-type(odd) {
    background: #fbad4c !important;
    color: #ffffff !important;
    border: 0px !important;
}

.div_graficos .table-head-bg-danger thead th, .div_graficos .table-striped-bg-danger tbody tr:nth-of-type(odd) {
    background: #ff646d !important;
    color: #ffffff !important;
    border: 0px !important;
}

/* table-responsive */

.div_graficos .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}