.form-control2 {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
}

.form-control2 {
    display: block;
    width: 100%;
    height: 25px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



/*****NAV*****/

.cardnav nav>.nav.nav-tabs {
    border: none;
    color: #fff;
    background: #999999;
    border-radius: 0;
    padding-left: 0;
}

.cardnav .fade {
    display: none !important;
}

.cardnav .active {
    display: block !important;
}

.cardnav nav>div a.nav-item.nav-link, nav>div a.nav-item.nav-link.active {
    border: none;
    padding: 10px 25px;
    color: #fff;
    background: #999999;
    border-radius: 0;
}

.cardnav nav>div a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #002168;
}

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    /*border: 1px solid #ddd;*/
    border-top: 5px solid #002168;
    border-bottom: 5px solid #002168;
    padding: 0px;
}

.cardnav nav>div a.nav-item.nav-link:hover, nav>div a.nav-item.nav-link:focus {
    border: none;
    background: #002168;
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}

.activestep {
    background: #002168 !important;
    color: #fff;
    transition: background 0.20s linear !important;
}

.disabled {
    pointer-events: none;
}