<app-controlos (atualiza)="atualizar()"></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Planos Produção</h4>
          </div>
          <div class="card-content">
            <p-dataTable #tabeladados [value]="dados" [paginator]="true" [rows]="25" (onRowDblclick)="abrir($event)"
              [rowsPerPageOptions]="[25,50,100,'todos']">
              <p-column [style]="{'width':'30px'}" field="id" header="Nº Plano" [filter]="true" [sortable]="true">
              </p-column>

              <p-column [style]="{'width':'35px'}" field="data_registo" header="Data Criação" [filter]="true"
                [sortable]="true"></p-column>

              <p-column [style]="{'width':'35px'}" field="utilizador" header="Utilizador" [filter]="true"
                [sortable]="true"></p-column>

              <p-column [style]="{'width':'35px'}" field="n_mrp" header="Nº MRP" [filter]="true" [sortable]="true">
              </p-column>

              <p-column [style]="{'width':'35px'}" field="data_mrp" header="DATA MRP" [filter]="true" [sortable]="true">
              </p-column>

              <p-column [style]="{'width':'25px'}" [sortable]="true" [filter]="true" styleclass="text-danger"
                field="linha" header="Linha">
                <ng-template pTemplate="filter" let-col>
                  <p-dropdown [options]="linhas" [(ngModel)]="linha" [style]="{'width':'100%'}"
                    (onChange)="filtrar($event.value,col.field,true)" styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
                  <div [style.background]="car['cor']">
                    {{car['linha']}}
                  </div>
                </ng-template>
              </p-column>

              <p-column [style]="{'width':'30px'}" field="primeira_semana" header="1ª Semana Análise" [filter]="true"
                [sortable]="true">
              </p-column>

              <p-column [style]="{'width':'30px'}" field="estado" header="Estado" [filter]="true" [sortable]="true">
              </p-column>

            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>