<app-controlos></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Turnos</h4>
          </div>
          <div class="card-content">
            <p-dataTable [value]="dados" selectionMode="single" (onRowSelect)="onRowSelect($event)" [paginator]="true"
            [rows]="25" [rowsPerPageOptions]="[25,50,100,'todos']">
              <p-column [style]="{'width':'30px'}" field="cod_TURNO" header="Código" [filter]="true" [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'30px'}" field="des_TURNO" header="Designação" [filter]="true"
                [sortable]="true"></p-column>
              <p-column [style]="{'width':'30px'}" field="hora_INICIO" header="Hora Início" [filter]="true"
                [sortable]="true"></p-column>
              <p-column [style]="{'width':'30px'}" field="hora_FIM" header="Hora Fim" [filter]="true" [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'30px'}" field="data_INICIO" header="Data Início" [filter]="true"
                [sortable]="true">
                <ng-template let-cols let-car="rowData" pTemplate="body">
                  {{car['data_INICIO'] | date:'yyyy-MM-dd' }}
                </ng-template>
              </p-column>
              <p-column [style]="{'width':'30px'}" field="data_FIM" header="Data Fim" [filter]="true" [sortable]="true">
                <ng-template let-cols let-car="rowData" pTemplate="body">
                  {{car['data_FIM'] | date:'yyyy-MM-dd' }}
                </ng-template>
              </p-column>
              <p-column [style]="{'width':'30px'}" field="estado" header="Estado" [filter]="true" [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'30px'}" field="TURNO_CONTINUO" header="Turno Contínuo" [filter]="true"
                [sortable]="true">
                <ng-template let-cols let-car="rowData" pTemplate="body">
                  <i *ngIf="!car.TURNO_CONTINUO" class="material-icons" style="color: red;">close</i>
                  <i *ngIf="car.TURNO_CONTINUO" class="material-icons" style="color: green;">check</i>
                </ng-template>
              </p-column>
              <p-footer>
                <a [class.disabled]="!acesso_criar" (click)="showDialogToAdd()"
                  style="color: black; cursor:pointer; margin-left:10px;" title="Adicionar nova linha">
                  <i class="material-icons">add</i> Adicionar
                </a>
              </p-footer>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-lg" #dialog data-toggle="modal" [hidden]="true" data-target="#myModalNorm"
  data-backdrop="false"></button>

<!-- Modal dados-->
<p-dialog header="Turnos" [responsive]="true" [positionTop]="0" styleClass="dialognot"
  [style]="{'max-height':'99vh','width':'80%','overflow': 'auto'}" [dismissableMask]="true" appendTo="body"
  [closeOnEscape]="true" [draggable]="false" [(visible)]="dialognovo" [modal]="true">

  <form style="height: 68vh" id="formReclama" role="form" ngNativeValidate (ngSubmit)="gravardados()">
    <!-- Modal Body -->
    <div class="modal-body">
      <div class="form-group col-md-4">
        <label for="des_TURNO">Designação</label>
        <input type="text" class="form-control2" id="des_TURNO" [(ngModel)]="des_TURNO"
          [ngModelOptions]="{standalone: true}" placeholder="" [required]="true" />
      </div>
      <div class="form-group col-md-4">
        <label for="hora_INICIO">Hora Início</label>
        <input min="00:00" id="hora_INICIO" style=" padding: 5px 4px;height: 25px;" [(ngModel)]="hora_INICIO"
          [ngModelOptions]="{standalone: true}" type="time" step='1'
          class="form-control2 ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
          ng-reflect-ng-class="ui-inputtext ui-widget ui-stat" placeholder="hh:mm" [required]="true">
      </div>
      <div class="form-group col-md-4">
        <label for="hora_FIM">Hora Fim</label>
        <input min="00:00" id="hora_FIM" style=" padding: 5px 4px;height: 25px;" [(ngModel)]="hora_FIM"
          [ngModelOptions]="{standalone: true}" type="time" step='1'
          class="form-control2 ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
          ng-reflect-ng-class="ui-inputtext ui-widget ui-stat" placeholder="hh:mm" [required]="true">
      </div>
      <div class="form-group col-md-4">
        <label for="data_INICIO" style="display: -webkit-box;">Data Início</label>
        <p-calendar [style]="{'height':'25px','width':'92%'}" dateFormat="yy-mm-dd" placeholder="yyyy-mm-dd"
          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" [(ngModel)]="data_INICIO"
          [ngModelOptions]="{standalone: true}" [showIcon]="true" [required]="true"></p-calendar>
      </div>
      <div class="form-group col-md-4">
        <label for="data_FIM" style="display: -webkit-box;">Data Fim</label>
        <p-calendar [style]="{'height':'25px','width':'92%'}" dateFormat="yy-mm-dd" placeholder="yyyy-mm-dd"
          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" [(ngModel)]="data_FIM"
          [ngModelOptions]="{standalone: true}" [showIcon]="true"></p-calendar>
      </div>
      <div class="form-group col-md-4" style="padding-top: 25px;">
        <label for="estado">Turno Contínuo</label>
        <p-checkbox [(ngModel)]="TURNO_CONTINUO" [ngModelOptions]="{standalone: true}"
          binary="true"></p-checkbox>
      </div>
    </div>

    <p-footer>
      <button style="float: right; margin-right: 17px;" type="button" class="btn btn-default"
        (click)="dialognovo = false">Fechar</button>
      <button [disabled]="!acesso_apagar" style="float: right; margin-right: 17px;" type="button" (click)="apagar()"
        [hidden]="novo" class="btn btn-danger" data-dismiss="modal">Remover</button>
      <button style="float: right; margin-right: 17px;" type="submit" class="btn btn-success ">Gravar</button>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog key="conf001" appendTo="body"></p-confirmDialog>