<div class="col-md-12  hidden-xs">
  <div class="card-header" data-background-color="orange">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" style="background:black">
          <li [hidden]="!btvoltar">
            <a (click)=" backClicked()">
              <i class="material-icons">arrow_back</i>Voltar
              <div class="ripple-container"></div>
            </a>
          </li>
          <li [class.disabled]="disCriar" [hidden]="!btcriar">
            <a (click)="novaficha()" [ngClass]="novo ? 'cor_modo' : null">
              <i class="material-icons">create_new_folder</i>Novo
              <div class="ripple-container"></div>
            </a>
          </li>
          <li [class.disabled]="disEditar" [hidden]="!bteditar">
            <a (click)="edita()" [ngClass]="(modoedicao && !novo) ? 'cor_modo' : null">
              <i class="material-icons">mode_edit</i>Editar
              <div class="ripple-container"></div>
            </a>
          </li>
          <li [class.disabled]="disPlanear" [hidden]="!btplanear">
            <a (click)="planear()">
              <i class="material-icons">check</i>Planear
              <div class="ripple-container"></div>
            </a>
          </li>
          <li [class.disabled]="disSubmeter" [hidden]="!btsubmeter">
            <a (click)="submeter()">
              <i class="material-icons">check</i>Submeter
              <div class="ripple-container"></div>
            </a>
          </li>
          <li [class.disabled]="disCancelar" [hidden]="!btcancelar">
            <a (click)="cancelar()">
              <i class="material-icons">close</i>Cancelar Pedido
              <div class="ripple-container"></div>
            </a>
          </li>
          <li>
            <a (click)="vernotas()">
              <i class="material-icons">playlist_add</i>Notas
              <div class="ripple-container"></div>
            </a>
          </li>

          <li [class.disabled]="disValidar" [hidden]="!btValidar">
            <a (click)="Validar()">
              <i class="material-icons">close</i>Validar
              <div class="ripple-container"></div>
            </a>
          </li>
          <li [class.disabled]="disRejeitar" [hidden]="!btRejeitar">
            <a (click)="Rejeitar()">
              <i class="material-icons">close</i>Rejeitar
              <div class="ripple-container"></div>
            </a>
          </li>
          <li [class.disabled]="disRejeitarPedido" [hidden]="!btRejeitarPedido">
            <a (click)="RejeitarPedido()">
              <i class="material-icons">close</i>Rejeitar Pedido
              <div class="ripple-container"></div>
            </a>
          </li>

          <li [class.disabled]="disApagar" [hidden]="!btapagar" style="float: right;">
            <a (click)="apagar()">
              <i class="material-icons">delete</i>Apagar
              <div class="ripple-container"></div>
            </a>
          </li>



        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="height: 49px; padding-top: 22px;" data-background-color="red">
            <h4 style="position: absolute;" class="title">Pedido de Manutenção</h4>

          </div>
          <div class="card-content">
            <form (keydown.enter)="$event.preventDefault()" #form id="formReclama" (ngSubmit)="gravar()"
              ngNativeValidate>
              <div class="container-fluid" style="padding: 0;">

                <p-panel header="" [toggleable]="false" [style]="{'margin-bottom':'0px'}">
                  <p-header>
                    <span class="ui-panel-title ">PEDIDO </span>
                    <span *ngIf="!novo" class="ui-panel-title " style="float: right;">{{estado_texto}} </span>
                    <span *ngIf="!novo" class="ui-panel-title "
                      style="font-weight: bold; margin-right: 7px;float: right;">ESTADO: </span>
                  </p-header>
                  <div style="display: inline-block; width: 100%;">
                    <div style="padding: 1px 5px 1px 10px; height: 52px;" class="form-group col-md-1 col-lg-1">
                      <label>Nº PEDIDO:</label>
                      <input [disabled]="true" type="text" class="form-control2" [(ngModel)]="ID_PEDIDO"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <div style="padding: 1px 5px 1px 10px; height: 52px;" class="form-group col-md-2 col-lg-2">
                      <label>Responsável Pedido:</label>
                      <p-dropdown [filter]="true" [options]="drop_utilizadores"
                        [style]="{'width':'100%','height':'25px','background':'white'}" [(ngModel)]="ID_RESPONSAVEL"
                        [ngModelOptions]="{standalone: true}" [disabled]="true" [required]="true"></p-dropdown>
                    </div>

                    <div style="padding: 1px 5px 1px 10px; height: 52px;" class="form-group col-md-2 col-lg-2">
                      <label style="display: -webkit-box;">Data/Hora Pedido:</label>
                      <p-calendar [disabled]="true" [style]="{'height':'25px','width':'55%'}" dateFormat="yy-mm-dd"
                        placeholder="yyyy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                        [(ngModel)]="data_CRIA" [ngModelOptions]="{standalone: true}" [showIcon]="false"
                        [required]="true"></p-calendar>
                      <input [disabled]="true" style="width:38%; padding: 5px 4px;height: 25px;" [(ngModel)]="hora_CRIA"
                        [ngModelOptions]="{standalone: true}" type="time"
                        class="inputn ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                        ng-reflect-ng-class="ui-inputtext ui-widget ui-stat" required="true" placeholder="hh:mm">
                    </div>


                    <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-2 col-lg-3">
                      <label>Localização:</label>
                      <span *ngIf="validacao1 && novo" pTooltip="Existem Manutenções Pendentes para esta Localização"
                        class="fa fa-exclamation-triangle" (click)="ver_manutencoes('L')"
                        style="color: #ffd43b; margin-left: 5px;"></span>
                      <br>
                      <p-dropdown [filter]="true" [options]="drop_localizacoes" (onChange)="getEquipamentos($event)"
                        [style]="{'width':'100%','height':'25px','background':'white'}" [(ngModel)]="LOCALIZACAO"
                        [ngClass]="(LOCALIZACAO == null)? 'class_required' :''" [ngModelOptions]="{standalone: true}"
                        [disabled]="!modoedicao" [required]="true"></p-dropdown>
                    </div>


                    <div style="padding: 6px 5px 1px 10px;" class="form-group col-md-6 col-lg-3">
                      <label>Referente a um Equipamento?</label>
                      <br>
                      <p-radioButton label="Sim" [disabled]="!modoedicao" name="REFERENTE_EQUIPAMENTO" value="S"
                        [ngClass]="(REFERENTE_EQUIPAMENTO == null)? 'class_required' :''" [required]="true"
                        [(ngModel)]="REFERENTE_EQUIPAMENTO">
                      </p-radioButton>
                      <p-radioButton label="Não" [disabled]="!modoedicao" name="REFERENTE_EQUIPAMENTO" value="N"
                        [ngClass]="(REFERENTE_EQUIPAMENTO == null)? 'class_required' :''"
                        [style]="{'margin-left':'10px'}" [required]="true" [(ngModel)]="REFERENTE_EQUIPAMENTO">
                      </p-radioButton>
                    </div>

                    <div class="col-md-12" style="padding: 0;">

                      <div *ngIf="REFERENTE_EQUIPAMENTO == 'S'" style="padding: 1px 5px 1px 10px;"
                        class="form-group col-md-3 col-lg-3">
                        <label>Equipamento:</label>
                        <span *ngIf="validacao2 && novo" pTooltip="Existem Manutenções Pendentes para este Equipamento"
                          class="fa fa-exclamation-triangle" (click)="ver_manutencoes('E')"
                          style="color: #ffd43b; margin-left: 5px;"></span>
                        <br>
                        <p-dropdown [filter]="true" [options]="drop_equipamentos" (onChange)="componentes($event)"
                          [style]="{'width':'100%','height':'25px','background':'white'}" [(ngModel)]="EQUIPAMENTO"
                          [ngClass]="(EQUIPAMENTO == null)? 'class_required' :''"
                          [required]="REFERENTE_EQUIPAMENTO == 'S'" [ngModelOptions]="{standalone: true}"
                          [disabled]="!modoedicao"></p-dropdown>
                      </div>
                      <div *ngIf="REFERENTE_EQUIPAMENTO == 'S'" style="padding: 1px 5px 1px 10px;"
                        class="form-group col-md-4 col-lg-4">
                        <label>Componente:</label>
                        <br>
                        <p-dropdown [filter]="true" [options]="drop_componentes"
                          [style]="{'width':'100%','height':'25px','background':'white'}" [(ngModel)]="COMPONENTE"
                          [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao"></p-dropdown>
                      </div>


                      <div *ngIf="REFERENTE_EQUIPAMENTO == 'S'" style="padding: 6px 5px 1px 10px;"
                        class="form-group col-md-6 col-lg-3">
                        <label>Status Máquina:</label>
                        <br>
                        <select class="obrigatorio"
                          [required]="STATUS_MAQUINA == null && REFERENTE_EQUIPAMENTO == 'S'"></select>
                        <p-radioButton label="Parada" [disabled]="!modoedicao" name="status_maquina" value="P"
                          [ngClass]="(STATUS_MAQUINA == null && REFERENTE_EQUIPAMENTO == 'S')? 'class_required' :''"
                          [required]="true" [(ngModel)]="STATUS_MAQUINA">
                        </p-radioButton>
                        <p-radioButton label="Em funcionamento" [disabled]="!modoedicao" name="status_maquina" value="E"
                          [ngClass]="(STATUS_MAQUINA == null  && REFERENTE_EQUIPAMENTO == 'S')? 'class_required' :''"
                          [style]="{'margin-left':'10px'}" [required]="true" [(ngModel)]="STATUS_MAQUINA">
                        </p-radioButton>
                      </div>
                    </div>

                    <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-3 col-lg-3">
                      <label>Âmbito Manutenção</label>
                      <p-dropdown [options]="drop_ambitos_manutencao" [required]="true"
                        [ngClass]="(AMBITO_MANUTENCAO == null)? 'class_required' :''"
                        [style]="{'width':'100%','height':'25px','background':'white'}" [(ngModel)]="AMBITO_MANUTENCAO"
                        [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao"></p-dropdown>
                    </div>

                    <div *ngIf="acesso_responsavel" style="padding: 6px 5px 1px 10px; height: 50px;"
                      class="form-group col-md-6 col-lg-3">
                      <label>Tipo Utilizador:</label>
                      <br>
                      <p-radioButton label="Equipa" [disabled]="!modoedicao" name="tipo_equipa" value="E"
                        [(ngModel)]="TIPO_RESPONSAVEL">
                      </p-radioButton>
                      <p-radioButton label="Utilizador" [style]="{'margin-left':'10px'}" [disabled]="!modoedicao"
                        name="tipo_equipa" value="U" [(ngModel)]="TIPO_RESPONSAVEL">
                      </p-radioButton>
                      <p-radioButton label="Externo" [style]="{'margin-left':'10px'}" [disabled]="!modoedicao"
                        name="tipo_equipa" value="EX" [(ngModel)]="TIPO_RESPONSAVEL">
                      </p-radioButton>
                    </div>

                    <div *ngIf="TIPO_RESPONSAVEL == 'E' && acesso_responsavel" style="padding: 1px 5px 1px 10px;"
                      class="form-group col-md-6 col-lg-3">
                      <label>Equipa:</label>
                      <p-dropdown [filter]="true" [options]="drop_equipas" [disabled]="!modoedicao"
                        [style]="{'width':'100%','height':'25px','background':'white'}" [(ngModel)]="ID_EQUIPA"
                        [ngClass]="(ID_EQUIPA == null && !novo)? 'class_required' :''"
                        [ngModelOptions]="{standalone: true}" [required]="!novo"></p-dropdown>
                    </div>
                    <div *ngIf="TIPO_RESPONSAVEL == 'U' && acesso_responsavel" style="padding: 1px 5px 1px 10px;"
                      class="form-group col-md-6 col-lg-3">
                      <label>Utilizador:</label>
                      <p-dropdown [filter]="true" [options]="drop_utilizadores" [disabled]="!modoedicao"
                        [style]="{'width':'100%','height':'25px','background':'white'}" [(ngModel)]="UTILIZADOR"
                        [ngClass]="(UTILIZADOR == null && !novo)? 'class_required' :''"
                        [ngModelOptions]="{standalone: true}" [required]="!novo"></p-dropdown>
                    </div>

                    <div *ngIf="TIPO_RESPONSAVEL == 'EX'" style="padding: 1px 5px 1px 10px;"
                      class="form-group col-md-6 col-lg-3">
                      <label>Utilizador Externo:</label>
                      <p-dropdown [filter]="true" [options]="fornecedores_silver" [disabled]="!modoedicao"
                        (onChange)="fornecedor($event)" [style]="{'width':'100%','height':'25px','background':'white'}"
                        [ngClass]="(COD_FORNECEDOR == null)? 'class_required' :''" [(ngModel)]="COD_FORNECEDOR"
                        [ngModelOptions]="{standalone: true}" [required]="true">
                      </p-dropdown>
                    </div>

                    <div *ngIf="TIPO_RESPONSAVEL == 'EX'" style="padding: 1px 5px 1px 10px;"
                      class="form-group col-md-6 col-lg-3">
                      <label>Nome:</label>
                      <input [disabled]="true" style="width: 100%;" type="text" class="form-control2"
                        [(ngModel)]="NOME_FORNECEDOR" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div *ngIf="TIPO_RESPONSAVEL == 'EX'" style="padding: 1px 5px 1px 10px;"
                      class="form-group col-md-6 col-lg-3">
                      <label>Email:</label>
                      <input [disabled]="!modoedicao" style="width: 100%;" type="text" class="form-control2"
                        [(ngModel)]="EMAIL_FORNECEDOR" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-12 col-lg-12">
                      <label>Descrição do Pedido:</label>
                      <br>
                      <textarea [disabled]="!modoedicao" pInputTextarea [(ngModel)]="DESCRICAO_PEDIDO"
                        [ngClass]="(DESCRICAO_PEDIDO == null)? 'class_required' :''" class="form-control2"
                        [ngModelOptions]="{standalone: true}" [required]="true"
                        style="height: 71px; width: 100%;"></textarea>
                    </div>

                    <div *ngIf="!novo && estado != 'EM'" style="padding: 1px 5px 1px 10px;"
                      class="form-group col-md-12 col-lg-12">
                      <label>Notas de Planeamento:</label>
                      <br>
                      <textarea [disabled]="!modoedicao" pInputTextarea [(ngModel)]="NOTAS_PLANEAMENTO"
                        class="form-control2" [ngModelOptions]="{standalone: true}"
                        style="height: 71px; width: 100%;"></textarea>
                    </div>

                  </div>
                </p-panel>


                <p-panel header="DOCUMENTOS " [toggleable]="false" [style]="{'margin-bottom':'0px'}">
                  <div style="display: inline-block; width: 100%;">
                    <div class="form-group col-md-4 col-lg-4">
                      <p-fileUpload [disabled]="!modoedicao" #fileInput name="myfile[]" customUpload="true"
                        (uploadHandler)="onUpload($event)" multiple="multiple" maxFileSize="10000000"
                        invalidFileSizeMessageSummary="{0}: Tamanho do ficheiro inválido, "
                        invalidFileTypeMessageDetail="tipos de ficheiros permitidos: {0}."
                        invalidFileSizeMessageDetail="O tamanho máximo do upload é {0}."
                        invalidFileTypeMessageSummary="{0}: tipo de ficheiro inválido, " chooseLabel="Selecionar"
                        uploadLabel="Carregar" cancelLabel="Cancelar">
                        <ng-template let-file pTemplate="file">
                          <div class="ui-fileupload-row">
                            <div>
                              <img [src]="file.objectURL" *ngIf="isImage(file)" [width]="25" />
                              <img [src]="fileImage(file)" *ngIf="!isImage(file)" [width]="25" />
                            </div>
                            <div>{{file.name}}</div>
                            <input type="text" placeholder="Descrição" style="margin-top: 9px;" class="form-control2"
                              [(ngModel)]="filedescricao[fileInput.files.indexOf(file)]"
                              [ngModelOptions]="{standalone: true}">
                            <div>
                              <button icon="fa-close" pButton type="button" label="Remove"
                                (click)="removeFile(file, fileInput)"></button>
                            </div>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="content">
                          <div style="text-align: -webkit-center; width: 100%; color: gainsboro;">Upload Files</div>
                        </ng-template>
                      </p-fileUpload>
                    </div>

                    <div class="form-group col-md-8 col-lg-8">
                      <p-dataTable [style]="{'width':'100%'}" [editable]="modoedicao" [value]="uploadedFiles"
                        styleClass="ExcelTable2007">
                        <p-column [style]="{'width':'20%'}" [editable]="false" field="name"
                          styleClass="ExcelTable2007tdname" header="NOME">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <span title="{{car['name'] }}">{{car['name'] }}</span>
                          </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'10%'}" [editable]="false" field="tamanho"
                          styleClass="ExcelTable2007tdname" header="TAMANHO">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <span title=" {{car['size'] }} bytes"> {{car['size'] }} bytes</span>
                          </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'25%'}" [editable]="false" field="descricao"
                          styleClass="ExcelTable2007tdname" header="DESCRIÇÃO">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <span title="{{car['descricao']}}">{{car['descricao']}}</span>
                          </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'15%'}" [editable]="false" field="datacria" header="DATA">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <span title="{{car['datacria']}}">{{car['datacria']}}</span>
                          </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'16%'}" [editable]="false" field="utilizador"
                          styleClass="ExcelTable2007tdname" header="UTILIZADOR">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            <span title="{{car['utilizador']}}">{{car['utilizador']}}</span>
                          </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'125px'}" [editable]="false" field="descricao" header="">
                          <ng-template let-car="rowData" let-index="rowIndex" pTemplate="body">
                            <button type="button" class="btn btn-default btn-xs" title="Ver Ficheiro"
                              (click)="showDialog(car.type, car.src,car.name,car.datatype,car.ficheiro)">
                              <i class="glyphicon glyphicon-zoom-in"></i>
                            </button>
                            <a class="btn btn-primary btn-xs" title="Download"
                              (click)="download(car.name,car.src,car.datatype,car.ficheiro)" target="_blank"
                              style="padding: 3px 0px 3px 12px; margin: 0;">
                              <i class="glyphicon glyphicon-download"></i>
                            </a>
                            <button style="padding: 3px 0px 3px 12px; margin: 3px 0 3px 0;" type="button"
                              class="btn btn-danger btn-xs" [disabled]="!modoedicao" title="Apagar"
                              (click)="removerficheiro(index)">
                              <span class="glyphicon glyphicon-trash"></span>
                            </button>
                          </ng-template>
                        </p-column>
                      </p-dataTable>
                    </div>
                  </div>
                </p-panel>


              </div>


              <button type="reset" (click)="backview()" class="btn btn-danger pull-right"
                [hidden]="!modoedicao">Cancelar</button>
              <button type="submit" class="btn btn-success pull-right" #buttongravar [hidden]="true">Gravar</button>
              <button type="button" (click)="btgravar()" class="btn btn-success pull-right"
                [hidden]="!modoedicao">Gravar</button>
              <button type="button" (click)="btgravar2()" class="btn btn-success pull-right" [hidden]="!novo">Gravar e
                Submeter</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-danger btn-block" #inputnotifi [hidden]="true"
  onclick="demo.showNotification('top','right','Inseriu com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputgravou [hidden]="true"
  onclick="demo.showNotification('top','right','Alterado com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputapagar [hidden]="true"
  onclick="demo.showNotification('top','right','Apagado com Sucesso!',2)"></button>
<button type="button" class="btn btn-danger btn-block" #inputerro [hidden]="true"
  onclick="demo.showNotification('top','right','ERRO!! Registo não foi Gravado!',4)"></button>
<button type="button" class="btn btn-danger btn-block" #inputartigoexiste [hidden]="true"
  onclick="demo.showNotification('top','right','Artigo já existe na Lista de Artigos Similares ou é Igual à Referência Principal!',4)"></button>
<button type="button" class="btn btn-danger btn-block" #inputerroficheiro [hidden]="true"
  onclick="demo.showNotification('top','right','ERRO!! Falha no Download!',4)"></button>
<button #escondebt id="editarclick4" data-toggle="modal" [hidden]="true"></button>
<button #alteraeditar id="editarclick2" data-toggle="modal" [hidden]="true"></button>
<button #alteraeditar2 id="editarclick3" data-toggle="modal" [hidden]="true"></button>
<button #alteracancelar id="cancelaclick1" data-toggle="modal" [hidden]="true"></button>



<p-dialog [header]="nomeficheiro" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="display"
  [modal]="true">
  <div style="width: 80vw; text-align: -webkit-center;">
    <audio *ngIf="type == 'audio' && display" [src]="srcelement" id="player" style="max-height: 79vh; max-width: 100%;"
      autoplay="" controls="">Your
      browser does not support the audio element.</audio>
    <iframe *ngIf="(type == 'pdf' || type == 'txt')  && display" class="embed-responsive-item"
      style="width: 100%; max-height: 90vh; height: 79vh; max-width: 100%;" [src]="srcelement" type="application/pdf"
      scale="aspect" frameborder="0"></iframe>
    <img *ngIf="type == 'img' && display" [src]="srcelement" style="max-height: 79vh; max-width: 100%;">
    <video *ngIf="type == 'video' && display" [src]="srcelement" id="player" style="max-height: 79vh; max-width: 100%;"
      autoplay="" controls="">Video
      format or MIME type is not supported</video>
  </div>
</p-dialog>


<p-dialog header="Aviso" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh'}" [width]="500"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="displayverificar"
  [modal]="true" styleClass="dialog_index2">
  <form role="form">
    <!-- Modal Body -->
    <div style="padding: 0px 50px 0px 50px">
      <span [innerHTML]="mensagem_verifica" style="font-size: 17px;"></span>
    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="displayverificar = false">Fechar</button>

    </div>
  </form>
</p-dialog>


<p-dialog header="Notas" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh'}" [width]="900"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="display_notas"
  [modal]="true" styleClass="dialog_index2">
  <form role="form">
    <!-- Modal Body -->
    <div style="padding: 0px 20px 0px 20px;">
      <div class="row" style="display: block;  max-height: 41vh; overflow: auto;">
        <div class="tab-content">
          <div class="tab-pane active" id="comments-logout">
            <ul *ngIf="notas.length" class="media-list">
              <li *ngFor="let nota of notas" class="media" style="display: block;">
                <a [ngClass]="{'pull-right': nota.id == this.user, 'pull-left': nota.id != this.user}">
                  <div class="circle">{{nota.letra}}</div>
                </a>
                <div class="media-body">
                  <div class="well well-lg"
                    style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 1px; width: 100%;">
                    <h5 class="media-heading text-uppercase reviews" style="font-weight: bold;">
                      {{nota.utilizador}}</h5>
                    <h6 class="media-date text-uppercase reviews">{{nota.data}}</h6>
                    <p class="media-comment" style="word-wrap: break-word;">
                      {{nota.mensagem}}
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <form class="form-horizontal" (ngSubmit)="adicionarnotas()" ngNativeValidate style="margin-top: 10px;">
        <div class="form-group" style="display: flex;">
          <div class="col-sm-9">
            <textarea style="overflow:hidden; width: 100%; padding: 10px;" [(ngModel)]="nota"
              [ngModelOptions]="{standalone: true}" class="form-control1" name="addNota" id="addNota" rows="5"
              required></textarea>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitNota">
              <span class="glyphicon glyphicon-send"></span> Adicionar Nota</button>
          </div>
        </div>
      </form>
    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="display_notas = false">Fechar</button>

    </div>
  </form>
</p-dialog>


<p-dialog header="Motivo Rejeição" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh','width': '100%'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false"
  [(visible)]="displayMotivoRejeicao" [modal]="true">

  <!-- Modal Header -->

  <form role="form" ngNativeValidate (ngSubmit)="gravarRejeitar( )">
    <!-- Modal Body -->
    <div class="">
      <div style="padding: 1px 5px 1px 10px; min-height: 50vh;" class="form-group col-md-12 col-lg-12">
        <label>Motivo:</label>
        <textarea required="true" rows="6" pInputTextarea [(ngModel)]="mototivoRejeicao" class="form-control2 enabled"
          [ngModelOptions]="{standalone: true}" style="height: auto; width: 500px;"></textarea>
      </div>

    </div>
    <!-- Modal Footer -->
    <div class="" style="text-align: -webkit-center;">
      <button type="button" class="btn btn-default" (click)="displayMotivoRejeicao = false">Fechar</button>
      <button type="submit" class="btn btn-success ">Gravar</button>
    </div>
  </form>

</p-dialog>


<p-dialog header="Manutenções" [responsive]="true" [positionTop]="0" [style]="{'max-height':'99vh','width': '100%'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false"
  [(visible)]="display_manutencoes_pendentes" [modal]="true">

  <!-- Modal Header -->


  <!-- Modal Body -->
  <div class="">
    <p-dataTable [style]="{'min-height':'300px'}" [value]="lista_manutencoes_pendentes" dataKey="ID_PEDIDO" [rows]="25"
      [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[25,50,100,'todos']">
      <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="ID_PEDIDO" header="N° PEDIDO"
        [style]="{'width':'97px'}">
      </p-column>
      <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="DATA_HORA_PEDIDO"
        header="Data/Hora Pedido" [style]="{'width':'132px'}">
      </p-column>

      <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="RESPONSAVEL"
        header="Responsável Pedido">
      </p-column>

      <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="LOCALIZACAO" header="Localização">
      </p-column>

      <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="AMBITO" header="Âmbito">
      </p-column>

      <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="UTILIZADOR"
        header="Utilizador/Equipa /Fornec.">
      </p-column>

      <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="EQUIPAMENTO" header="Equipamento">
      </p-column>

      <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="COMPONENTE" header="Componente">
      </p-column>

      <p-column [sortable]="true" [filter]="true" filterMatchMode="in" styleclass="text-danger" field="ESTADO"
        header="Estado">
      </p-column>
    </p-dataTable>
  </div>
  <!-- Modal Footer -->
  <div class="" style="text-align: -webkit-center;">
    <button type="button" class="btn btn-default" (click)="display_manutencoes_pendentes = false">Fechar</button>

  </div>

</p-dialog>