<app-controlos (atualiza)="atualizar()"></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Planos Estratégicos</h4>
          </div>
          <div class="card-content">
            <div
              style="padding: 1px 5px 1px 0px; border-top: 1px dashed grey; border-bottom: 1px dashed grey; margin-bottom: 15px;"
              class="form-group col-md-12 col-lg-12">
              <form #form id="formReclama" (ngSubmit)="atualizar()" ngNativeValidate>
                <div class="table-row-column col-md-2" style="padding-left: 16px;">
                  <p-checkbox [(ngModel)]="acoes_em_ATRASO" [ngModelOptions]="{standalone: true}"
                    label="Ações em atraso" binary="true">
                  </p-checkbox>
                </div>
                <div class="table-row-column col-md-2">
                  <button type="submit" class="btn btn-success "
                    style="margin: -5px 0 0 39px; height: 27px; padding: 0px 10px 0 10px;">Aplicar</button>
                </div>
              </form>
            </div>


            <p-dataTable #tabeladados [value]="dados" [paginator]="true" [rows]="25" (onRowDblclick)="abrir($event)"
              [rowsPerPageOptions]="[25,50,100,'todos']" [expandedRows]="lista_expand" expandableRows="true"
              styleClass="lista_planosestrategicos">
              <p-column [style]="{'width':'6px','padding':'0'}" expander="true" styleClass="col-icon">
                <ng-template pTemplate="filter" let-col>
                  <button *ngIf="lista_expand.length == 0 || lista_expand.length == null" pButton type="button"
                    (click)="listartudo()" icon="fa-eye" style="margin-bottom: 5px;" label=" "></button>
                  <button *ngIf="lista_expand.length > 0" pButton type="button" (click)="listartudo()"
                    style="margin-bottom: 5px;" icon="fa-eye-slash" label=" "></button>
                </ng-template>
              </p-column>
              <p-column [style]="{'width':'20px'}" field="id" header="Nº" [filter]="true" [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'25px'}" field="data_registo" header="Data Criação" [filter]="true"
                [sortable]="true"></p-column>
              <p-column [style]="{'width':'27px'}" field="ano" header="Ano Plano" [filter]="true" [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'25px'}" field="utilizador" header="Responsável do Plano" [filter]="true"
                [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'25px'}" field="conclusao" header="% Conclusão" [filter]="true"
                [sortable]="true">
                <ng-template let-car="rowData" pTemplate="body">
                  <span>
                    {{car['conclusao'] | number: '1.2-2'}} %
                  </span>
                </ng-template>
              </p-column>
              <p-column [style]="{'width':'30px'}" field="estado" header="Estado" [filter]="true" [sortable]="true">
                <ng-template pTemplate="filter" let-col>
                  <p-multiSelect [options]="estados" [(ngModel)]="estado_filtro" [style]="{'width':'100%'}"
                    (onChange)="filtrar($event.value,col.field,true,'in')" styleClass="ui-column-filter">
                  </p-multiSelect>
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
                  {{car['estado']}}
                </ng-template>
              </p-column>
              <ng-template let-plano pTemplate="rowexpansion">

                <p-dataTable [value]="plano.planos" styleClass="ExcelTable2007" id="tabelaplanos" expandableRows="true">
                  <p-column [style]="{'width':'6px','padding':'0'}" expander="true" styleClass="col-icon">
                  </p-column>
                  <p-column [style]="{'width':'27px'}" field="data_objetivo" header="Data Objetivo do Plano">
                    <ng-template let-car="rowData" pTemplate="body">
                      <div [style.background]="car['cor']" [style.color]="car['cor_letra']"
                        style="font-size: 11pt !important;">
                        {{car['data_objetivo']}}
                      </div>
                    </ng-template>
                  </p-column>
                  <p-column [style]="{'width':'27px'}" field="data_registo" header="Data Criação">
                  </p-column>
                  <p-column [style]="{'width':'27px'}" field="data_conclusao" header="Data Conclusão"></p-column>
                  <p-column [style]="{'width':'30px'}" field="objetivo" header="Objetivo">
                  </p-column>
                  <p-column [style]="{'width':'25px'}" field="utilizador" header="Responsável do Plano">
                  </p-column>
                  <p-column [style]="{'width':'10px','padding-left': '0','padding-right': '0'}" field="conclusao"
                    header="% Conclusão">
                    <ng-template let-car="rowData" pTemplate="body">
                      <span style="font-size: 11pt !important;">
                        {{car['conclusao'] | number: '1.2-2'}} %
                      </span>
                    </ng-template>
                  </p-column>

                  <p-column [style]="{'width':'30px'}" field="estado" header="Estado">
                  </p-column>

                  <ng-template let-car pTemplate="rowexpansion">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                      <table class="tg">
                        <tr>
                          <th class="tg-wfll" style="width: 65px;">Seguir</th>
                          <th class="tg-wfll" style="width: 100px;">Data Objetivo Ação</th>
                          <th class="tg-wfll" style="width: 100px;">Data Criação</th>
                          <th class="tg-wfll" style="width: 100px;">Data Conclusão</th>
                          <th class="tg-wfll" style="width: 200px;">Responsável da Ação</th>
                          <th class="tg-wfll">Ação</th>
                          <th class="tg-wfll">Descrição</th>
                          <th class="tg-wfll">Objetivo</th>
                          <th class="tg-wfll">Investimentos</th>
                          <th class="tg-wfll" style="width: 71px;">% Conclusão</th>
                          <th class="tg-wfll" style="width: 168px;">Estado</th>
                        </tr>
                        <ng-container *ngFor="let col of car.filho">
                          <tr (dblclick)="verTarefa(col.id_TAREFA)">
                            <td>
                              <a (click)="set_favoritos(col)" class=" fa "
                                [title]="(col.seguir_LINHA)? 'Remova esta Linha' :'Adicione esta Linha'"
                                style="cursor: pointer; color: black; font-size: 20px;"
                                [ngClass]="(col.seguir_LINHA)? 'fa-star':'fa-star-o'"></a>
                            </td>
                            <td class="tg-0pky" style="min-width: 120px;" [style.background]="col.corlinha"
                              [style.color]="col.cor_letra_linha">{{col.data_acao}}</td>
                            <td class="tg-0pky" style="min-width: 120px;">{{col.data_registo}}</td>
                            <td class="tg-0pky" style="min-width: 120px;">{{col.data_conclusao}}</td>
                            <td class="tg-0pky" style="min-width: 120px;">{{col.utilizador}}</td>
                            <td class="tg-0pky" style="min-width: 120px;">{{col.acao}}</td>
                            <td class="tg-0pky" style="min-width: 120px;">{{col.descricao}}</td>
                            <td class="tg-0pky" style="min-width: 120px;">{{col.objetivo}}</td>
                            <td class="tg-0pky" style="min-width: 120px;">{{col.investimentos}}</td>
                            <td class="tg-0pky" style="min-width: 120px;">{{col.conclusao | number: '1.2-2'}} %</td>
                            <td class="tg-0pky" style="min-width: 120px;">{{col.estado}}</td>

                          </tr>
                          <tr *ngIf="col.estadolinha == 'V'">
                            <th colspan="3" class="tg-wfll" style="min-width: 120px;"> Verificação da Eficácia /
                              Cumprimento do Objetivo</th>
                            <td colspan="5" class="tg-0pky" style="min-width: 120px;">
                              {{col.EFICACIA_CUMPRIMENTO_OBJETIVO}}</td>
                          </tr>
                        </ng-container>
                      </table>
                    </div>
                  </ng-template>
                </p-dataTable>

              </ng-template>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Tarefa" [responsive]="true" [positionTop]="0" [style]="{'height':'99vh','width': '100vw'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="displayTarefa"
  [modal]="true">

  <!-- Modal Header -->

  <!-- Modal Body -->
  <div class="" style="width: 95vw; max-height: 81vh; overflow: auto;">
    <app-paginatarefa class="cssapp-paginatarefa" *ngIf="id_tarefa_input != null" [id_tarefa_input]="id_tarefa_input">
    </app-paginatarefa>
  </div>
  <!-- Modal Footer -->
  <div class="" style="text-align: -webkit-center;">
    <button type="button" class="btn btn-default" style="margin: 0;" (click)="displayTarefa = false">Fechar</button>
  </div>

</p-dialog>