<app-controlos></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Divisões</h4>
          </div>
          <div class="card-content">
            <p-dataTable [style]="{'width':'100%'}" [value]="departs" selectionMode="single" #dt
              (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
              <p-column field="descricao" header="Nome" [filter]="true" [sortable]="true" filterMatchMode="equals">
              </p-column>
              <p-column field="piso" header="Piso" [filter]="true" [sortable]="true" filterMatchMode="equals">
              </p-column>
              <p-footer>
                <a [class.disabled]="!acesso_criar" (click)="showDialogToAdd()"
                  style="color: black; cursor:pointer; margin-left:10px;" title="Adicionar nova linha">
                  <i class="material-icons">add</i> Adicionar
                </a>
              </p-footer>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-lg" #dialog data-toggle="modal" [hidden]="true" data-target="#myModalNorm"
  data-backdrop="false"></button>



<!-- Modal dados-->
<p-dialog header="Divisões" [responsive]="true" [positionTop]="0" styleClass="dialognot"
  [style]="{'max-height':'99vh','width':'100vw','overflow': 'auto'}" [dismissableMask]="true" appendTo="body"
  [closeOnEscape]="true" [draggable]="false" [(visible)]="dialognovo" [modal]="true">

  <form id="formReclama" role="form" ngNativeValidate (ngSubmit)="gravar()" style="width:98vw;">
    <!-- Modal Body -->
    <div class="modal-body">
      <div class="col-md-12" style="padding: 0;  margin-bottom: 15px;">
        <div class="col-md-12" style="padding: 0;">
          <div class="form-group col-md-6">
            <label for="nome">Nome</label>
            <input type="text" [disabled]="!acesso_editar" class="form-control2" id="nome" [(ngModel)]="descricao"
              [ngModelOptions]="{standalone: true}" required autocomplete="off" />
          </div>
          <div class="form-group col-md-6">
            <label for="nome">Piso</label>
            <p-dropdown [required]="true" [options]="pisos"
              [style]="{'width':'100%','height':'25px','font-size':'15px','background':'white'}" [(ngModel)]="id_piso"
              [ngModelOptions]="{standalone: true}" styleClass="ui-column-filter">
            </p-dropdown>
          </div>
          <div class="form-group col-md-12">
            <label for="para">Enviar Para:</label>
            <p-autoComplete [disabled]="!acesso_editar" required="true" type="email" inputId="autocompleteinput"
              placeholder="exemplo@exemplo.com;" styleClass="wid100" forceSelection="true" [minLength]="1"
              [(ngModel)]="email_para" [suggestions]="results" [ngModelOptions]="{standalone: true}" [multiple]="true"
              (completeMethod)="search($event)">
            </p-autoComplete>
          </div>
        </div>



      </div>

      <div class="col-md-12">
        <button style="float: right; margin-right: 17px;" type="button" class="btn btn-default"
          (click)="dialognovo = false">Fechar</button>
        <button [disabled]="!acesso_apagar" style="float: right; margin-right: 17px;" type="button" (click)="apagar()"
          [hidden]="novo" class="btn btn-danger" data-dismiss="modal">Remover</button>
        <button style="float: right; margin-right: 17px;" type="submit" class="btn btn-success ">Gravar</button>
      </div>
    </div>

    <p-footer>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog key="conf001" appendTo="body"></p-confirmDialog>