<app-controlos></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="height: 49px; padding-top: 22px;" data-background-color="red">
            <h4 style="position: absolute;" class="title">Mapa Preventivas</h4>
          </div>
          <div class="card-content">
            <form (keydown.enter)="$event.preventDefault()" #form id="formReclama" ngNativeValidate>
              <div class="container-fluid" style="padding: 0;">


                <div style="display: inline-block; width: 100%;">

                  <div style="padding: 1px 5px 1px 0;" class="form-group col-md-12">
                    <div style="padding: 1px 5px 1px 10px; width: 7%;" class="form-group col-md-2 ">
                      <label>Ano:</label><br>
                      <p-dropdown [options]="anos" class="droplinha"
                        [style]="{'width':'100%','min-width': '90px','height':'25px'}" [(ngModel)]="ano"
                        [ngModelOptions]="{standalone: true}">
                      </p-dropdown>
                    </div>

                    <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-3 col-lg-3">
                      <label>Âmbito Manutenção</label>
                      <p-dropdown [options]="drop_ambitos_manutencao"
                        [style]="{'width':'100%','height':'25px','background':'white'}" [(ngModel)]="AMBITO_MANUTENCAO"
                        [ngModelOptions]="{standalone: true}"></p-dropdown>
                    </div>
                    <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-3 col-lg-3">
                      <label>Localização</label>
                      <p-dropdown [options]="drop_localizacoes"
                        [style]="{'width':'100%','height':'25px','background':'white'}" [(ngModel)]="localizacao"
                        [ngModelOptions]="{standalone: true}"></p-dropdown>
                    </div>
                    <div style="padding: 1px 5px 1px 10px;" class="form-group col-md-3 col-lg-3">
                      <label>Equipamento</label>
                      <p-dropdown [options]="drop_equipamentos"
                        [style]="{'width':'100%','height':'25px','background':'white'}" [(ngModel)]="equipamento"
                        [ngModelOptions]="{standalone: true}"></p-dropdown>
                    </div>
                    <div class="table-row-column col-md-3"
                      style="padding-left: 0; width: 17%; padding-top: 26px; min-width: 253px;">
                      <p-checkbox [(ngModel)]="ver_atrasos" [ngModelOptions]="{standalone: true}"
                        label="Ver Atrasos na Data de Conclusão" binary="true">
                      </p-checkbox>
                    </div>

                    <div class="table-row-column col-md-12" style="text-align: right;">
                      <button type="button" (click)="carregaAnalise()" class="btn btn-success " [disabled]="loading"
                        style="margin: -2px 0 0 0px; height: 27px; padding: 0px 10px 0 10px;">Aplicar</button>
                      <button type="button" (click)="limpar()" class="btn btn-danger " [disabled]="loading"
                        style="margin: -2px 0 0 15px; height: 27px; padding: 0px 10px 0 10px;">Limpar</button>
                    </div>

                  </div>


                  <div style="padding: 1px 5px 1px 0; overflow-y: auto;" class="form-group col-md-12 tabeladiv">
                    <table class="tg">
                      <thead>
                        <tr>
                          <th class="tg-wflh">Equipment</th>
                          <th class="tg-wflh">Week 1</th>
                          <th class="tg-wflh">Week 2</th>
                          <th class="tg-wflh">Week 3</th>
                          <th class="tg-wflh">Week 4</th>
                          <th class="tg-wflh">Week 5</th>
                          <th class="tg-wflh">Week 6</th>
                          <th class="tg-wflh">Week 7</th>
                          <th class="tg-wflh">Week 8</th>
                          <th class="tg-wflh">Week 9</th>
                          <th class="tg-wflh">Week 10</th>
                          <th class="tg-wflh">Week 11</th>
                          <th class="tg-wflh">Week 12</th>
                          <th class="tg-wflh">Week 13</th>
                          <th class="tg-wflh">Week 14</th>
                          <th class="tg-wflh">Week 15</th>
                          <th class="tg-wflh">Week 16</th>
                          <th class="tg-wflh">Week 17</th>
                          <th class="tg-wflh">Week 18</th>
                          <th class="tg-wflh">Week 19</th>
                          <th class="tg-wflh">Week 20</th>
                          <th class="tg-wflh">Week 21</th>
                          <th class="tg-wflh">Week 22</th>
                          <th class="tg-wflh">Week 23</th>
                          <th class="tg-wflh">Week 24</th>
                          <th class="tg-wflh">Week 25</th>
                          <th class="tg-wflh">Week 26</th>
                          <th class="tg-wflh">Week 27</th>
                          <th class="tg-wflh">Week 28</th>
                          <th class="tg-wflh">Week 29</th>
                          <th class="tg-wflh">Week 30</th>
                          <th class="tg-wflh">Week 31</th>
                          <th class="tg-wflh">Week 32</th>
                          <th class="tg-wflh">Week 33</th>
                          <th class="tg-wflh">Week 34</th>
                          <th class="tg-wflh">Week 35</th>
                          <th class="tg-wflh">Week 36</th>
                          <th class="tg-wflh">Week 37</th>
                          <th class="tg-wflh">Week 38</th>
                          <th class="tg-wflh">Week 39</th>
                          <th class="tg-wflh">Week 40</th>
                          <th class="tg-wflh">Week 41</th>
                          <th class="tg-wflh">Week 42</th>
                          <th class="tg-wflh">Week 43</th>
                          <th class="tg-wflh">Week 44</th>
                          <th class="tg-wflh">Week 45</th>
                          <th class="tg-wflh">Week 46</th>
                          <th class="tg-wflh">Week 47</th>
                          <th class="tg-wflh">Week 48</th>
                          <th class="tg-wflh">Week 49</th>
                          <th class="tg-wflh">Week 50</th>
                          <th class="tg-wflh">Week 51</th>
                          <th class="tg-wflh">Week 52</th>
                          <th class="tg-wflh">Week 53</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let col of dados">
                          <th class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <b style="cursor: pointer;"
                              (click)="verEquipamento(col.id_equipamento)">{{col.equipamento}}</b><br>
                            <span
                              style="font-size: 10px; font-size: 9px; display: block; margin-top: -7px;">({{col.localizacao}})</span>
                          </th>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week1">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week2">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week3">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week4">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week5">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week6">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week7">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week8">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week9">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week10">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week11">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week12">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week13">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week14">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week15">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week16">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week17">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week18">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week19">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week20">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week21">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week22">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week23">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week24">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week25">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week26">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week27">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week28">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week29">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week30">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week31">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week32">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week33">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week34">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week35">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week36">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week37">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week38">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week39">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week40">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week41">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week42">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week43">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week44">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week45">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week46">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week47">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week48">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week49">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week50">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week51">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week52">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                          <td class="tg-0pky" style="min-width: 120px; max-width: none; background-color: #D9D9D9;">
                            <div *ngFor="let val of col.week53">
                              <div (click)="verManutencao(val.id)" title="{{val.title}}" class="cor_{{val.class}}">
                                {{val.valor}}</div>
                            </div>
                          </td>
                        </tr>
                        <tr *ngIf="dados.length == 0 && loading == false">
                          <td class="tg-0pky" style="margin-left: 300px;" colspan="54">{{mensagemtabela}}</td>
                        </tr>
                        <tr *ngIf="loading">
                          <td class="tg-0pky" style="margin-left: 300px;" colspan="54">A Carregar..</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div style="padding: 1px 5px 1px 0;" class="form-group col-md-12">
                    <ul class="bar-legend">
                      <li><span style="font-weight: bold;">D </span>- Diário </li>
                      <li><span style="font-weight: bold;">W </span>- Semanal </li>
                      <li><span style="font-weight: bold;">M </span>- Mensal </li>
                      <li><span style="font-weight: bold;">B </span>- Bimestral </li>
                      <li><span style="font-weight: bold;">T </span>- Trimestral </li>
                      <li><span style="font-weight: bold;">Q </span>- Quadrimestral </li>
                      <li><span style="font-weight: bold;">S </span>- Semestral </li>
                      <li><span style="font-weight: bold;">A </span>- Anual </li>
                      <li><span style="font-weight: bold;">Número </span>- Id da Manutenção </li>
                    </ul>
                    <ul class="bar-legend">
                      <li><span class="bar-legend-pointer cor_red"></span>- Manutenções Planeadas em Atraso. </li>
                      <li><span class="bar-legend-pointer cor_green"></span>- Manutenções Planeadas dentro do Prazo.
                      </li>
                      <li><span class="bar-legend-pointer cor_red cor_red_t"></span>- Manutenções Concluídas mas Fora da
                        Data Prevista. </li>
                      <li><span class="bar-legend-pointer cor_green cor_green_t"></span>- Conclusão das Manutenções Fora
                        da Data Prevista. </li>
                    </ul>
                  </div>

                </div>



              </div>


              <div class="clearfix"> </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Manutenção" [responsive]="true" [positionTop]="0" [style]="{'height':'99vh','width': '100vw'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="displayManutencao"
  (onHide)="onHide()" [modal]="true">

  <!-- Modal Header -->

  <!-- Modal Body -->
  <div class="" style="width: 95vw; max-height: 81vh; overflow: auto;">
    <!--app-pedidos-melhoria-manutencao class="cssapp-paginatarefa" *ngIf="CLASSIFICACAO == 'M'"
      [ID_PEDIDO_INPUT_2]="ID_PEDIDO_INPUT">
    </app-pedidos-melhoria-manutencao>

    <app-ficha-manutencao class="cssapp-paginatarefa" *ngIf="CLASSIFICACAO == 'C'" [ID_PEDIDO_INPUT]="ID_PEDIDO_INPUT">
    </app-ficha-manutencao-->

    <app-manutencoes-preventivas class="cssapp-paginatarefa"
      *ngIf="(CLASSIFICACAO == 'P' || CLASSIFICACAO == 'MM') && ID_PEDIDO_INPUT != null"
      [ID_PEDIDO_INPUT]="ID_PEDIDO_INPUT">
    </app-manutencoes-preventivas>
  </div>
  <!-- Modal Footer -->
  <div class="" style="text-align: -webkit-center;">
    <button type="button" class="btn btn-default" style="margin: 0;"
      (click)="displayManutencao = false;">Fechar</button>
  </div>

</p-dialog>



<p-dialog header="Equipamento" [responsive]="true" [positionTop]="0" [style]="{'height':'99vh','width': '100vw'}"
  [dismissableMask]="true" appendTo="body" [closeOnEscape]="true" [draggable]="false" [(visible)]="displayEquipamento"
  (onHide)="onHideEquipamentos()" [modal]="true">

  <!-- Modal Header -->

  <!-- Modal Body -->
  <div class="" style="width: 95vw; max-height: 81vh; overflow: auto;">

    <app-ficha-equipamento class="cssapp-paginatarefa" [ID_EQUIPAMENTO_INPUT]="ID_EQUIPAMENTO_INPUT"
      *ngIf="ID_EQUIPAMENTO_INPUT != null">
    </app-ficha-equipamento>
  </div>
  <!-- Modal Footer -->
  <div class="" style="text-align: -webkit-center;">
    <button type="button" class="btn btn-default" style="margin: 0;"
      (click)="displayEquipamento = false;">Fechar</button>
  </div>

</p-dialog>