<app-controlos (atualiza)="atualizar()"></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Componentes e Aditivos de controlo</h4>
            <p class="category"></p>
          </div>
          <div class="card-content table-responsive">

            <p-dataTable [value]="cols" dataKey="id" [rows]="25" [paginator]="true" [pageLinks]="3" (onRowDblclick)="abrir($event)" [rowsPerPageOptions]="[25,50,100,'todos']">
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="id" header="ID">
                <ng-template pTemplate="filter" let-col>
                  <input class="ui-column-filter ui-inputtext ui-widget ui-state-default ui-corner-all" [(ngModel)]="id" #v (ngModelChange)="filtrar(v.value,col.field,false)"
                    type="text">
                </ng-template>
              </p-column>
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="nome" header="Nome">
                <ng-template pTemplate="filter" let-col>
                  <input class="ui-column-filter ui-inputtext ui-widget ui-state-default ui-corner-all" [(ngModel)]="nome" #v (ngModelChange)="filtrar(v.value,col.field)"
                    type="text">
                </ng-template>
              </p-column>
              <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="tipo" header="Tipo">
                <ng-template pTemplate="filter" let-col>
                  <input class="ui-column-filter ui-inputtext ui-widget ui-state-default ui-corner-all" [(ngModel)]="tipo" #v (ngModelChange)="filtrar(v.value,col.field)"
                    type="text">
                </ng-template>
              </p-column>
              <p-column [sortable]="true" styleclass="text-danger" field="cisterna" header="Cisterna">
                <ng-template let-car="rowData" pTemplate="body">
                  <i *ngIf="car.cisterna == false" class="material-icons" style="color: red;">close</i>
                  <i *ngIf="car.cisterna == true" class="material-icons" style="color: green;">check</i>
                </ng-template>
              </p-column>
              <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                  <a (click)="reset()" style="color: black; float: left; cursor: pointer;">
                    <i class="fa fa-eraser" aria-hidden="true"> Limpar</i>
                    <div class="ripple-container"></div>
                  </a>
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
                  <a style="color: black; cursor:pointer;" title="Ver mais" [routerLink]="['/componentes/view']" [queryParams]="{ id: car.id }">
                    <i class="material-icons">search</i>
                  </a>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>