<app-controlos></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Objetivos Faturação</h4>
          </div>
          <div class="card-content">
            <p-dataTable [value]="dados" selectionMode="single" (onRowSelect)="onRowSelect($event)" [paginator]="true"
              [rows]="25" [rowsPerPageOptions]="[25,50,100,'todos']">
              <p-column [style]="{'width':'30px'}" field="mes_nome" header="Mês" [filter]="true" [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'30px'}" field="ano" header="Ano" [filter]="true" [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'30px'}" field="valor_OBJETIVO" header="Valor Objetivo" [filter]="true"
                [sortable]="true">
              </p-column>
              <p-column [style]="{'width':'30px'}" field="n_DIAS_UTEIS" header="Nº Dias Úteis" [filter]="true"
                [sortable]="true">
              </p-column>

              <p-footer>
                <a [class.disabled]="!acesso_criar" (click)="showDialogToAdd()"
                  style="color: black; cursor:pointer; margin-left:10px;" title="Adicionar nova linha">
                  <i class="material-icons">add</i> Adicionar
                </a>
              </p-footer>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-lg" #dialog data-toggle="modal" [hidden]="true" data-target="#myModalNorm"
  data-backdrop="false"></button>

<!-- Modal dados-->
<p-dialog header="Objetivos Faturação" [responsive]="true" [positionTop]="0" styleClass="dialognot"
  [style]="{'max-height':'99vh','width':'80%','overflow': 'auto'}" [dismissableMask]="true" appendTo="body"
  [closeOnEscape]="true" [draggable]="false" [(visible)]="dialognovo" [modal]="true">

  <form id="formReclama" role="form" ngNativeValidate (ngSubmit)="gravardados()">
    <!-- Modal Body -->
    <div class="modal-body">
      <div class="form-group col-md-3">
        <label for="mes">Mês</label>
        <p-dropdown appendTo="body" [filter]="true" [options]="meses"
          [style]="{'width':'100%','height':'25px','background':'white'}" [(ngModel)]="mes"
          [ngModelOptions]="{standalone: true}" [required]="true">
        </p-dropdown>
      </div>
      <div class="form-group col-md-3">
        <label for="ano">Ano</label>
        <p-dropdown  appendTo="body"  [filter]="true" [options]="anos" [style]="{'width':'100%','height':'25px','background':'white'}"
          [(ngModel)]="ano" [ngModelOptions]="{standalone: true}" [required]="true">
        </p-dropdown>
      </div>
      <div class="form-group col-md-3">
        <label for="valor_OBJETIVO">Valor Objetivo</label>
        <input type="number" step="0.01" class="form-control2" id="valor_OBJETIVO" [(ngModel)]="valor_OBJETIVO"
          [ngModelOptions]="{standalone: true}" placeholder="" [required]="true" />
      </div>
      <div class="form-group col-md-3">
        <label for="n_DIAS_UTEIS">Nº Dias Úteis</label>
        <input type="number" class="form-control2" id="n_DIAS_UTEIS" [(ngModel)]="n_DIAS_UTEIS"
          [ngModelOptions]="{standalone: true}" placeholder="" [required]="true" />
      </div>
    </div>

    <p-footer>
      <button style="float: right; margin-right: 17px;" type="button" class="btn btn-default"
        (click)="dialognovo = false">Fechar</button>
      <button [disabled]="!acesso_apagar" style="float: right; margin-right: 17px;" type="button" (click)="apagar()"
        [hidden]="novo" class="btn btn-danger" data-dismiss="modal">Remover</button>
      <button style="float: right; margin-right: 17px;" type="submit" class="btn btn-success ">Gravar</button>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog key="conf001" appendTo="body"></p-confirmDialog>