.disabled {
    pointer-events: none;
}

.form-control {
    height: 31px;
}


/*****NAV*****/

.cardnav nav>.nav.nav-tabs {
    border: none;
    color: #fff;
    background: #999999;
    border-radius: 0;
    padding-left: 0;
}

.cardnav .fade {
    display: none !important;
}

.cardnav .active {
    display: block !important;
}

.cardnav nav>div a.nav-item.nav-link, nav>div a.nav-item.nav-link.active {
    border: 1px solid;
    padding: 10px 25px;
    color: #fff;
    background: #999999;
    border-radius: 0;
}

.cardnav nav>div a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #002168;
}

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    /*border: 1px solid #ddd;*/
    border-top: 5px solid #002168;
    border-bottom: 5px solid #002168;
    padding: 0px;
}

.tab-content .card-content {
    min-height: 355px;
}

.cardnav nav>div a.nav-item.nav-link:hover, nav>div a.nav-item.nav-link:focus {
    border: none;
    background: #002168;
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}

.activestep {
    background: #002168 !important;
    color: #fff;
    transition: background 0.20s linear !important;
}
