<app-controlos (anteriorbt)="anterior()" (seguintebt)="seguinte()" (apagarbt)="apagar()"></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Registo de Análises</h4>
            <p class="category">Complete os Dados</p>
          </div>
          <div class="card-content">
            <form id="formAnalise" (ngSubmit)="gravar()" ngNativeValidate>
              <div class="row">
                <div class="col-md-2">
                  <div [ngClass]="codigo == '' ? 'is-empty' : null" class="form-group form-black label-floating ">
                    <label class="control-label">Código Analise</label>
                    <input type="text" class="form-control" [(ngModel)]="codigo" [ngModelOptions]="{standalone: true}" disabled>
                  </div>
                </div>
                <div class="col-md-2">
                  <div [ngClass]="data == '' ? 'is-empty' : null" class="form-group form-black label-floating">
                    <label class="control-label">Data Última Alteração</label>
                    <input type="text" class="form-control" value="{{data}}" disabled>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group form-black label-floating">
                    <label style="font-size: 14px;">Data/Hora Análise</label>
                    <p-calendar [style]="{'width':'150px','height':'36px','padding':'5px 4px'}" dateFormat="yy-mm-dd" placeholder="yy-mm-dd" [monthNavigator]="true"
                      [yearNavigator]="true" yearRange="2000:2050" [(ngModel)]="data_ANALISE" [ngModelOptions]="{standalone: true}"
                      [showIcon]="true" [hidden]="!modoedicao" [required]="true"></p-calendar>
                    <label style="width:100px" class="ng-tns-c3-11 ui-dropdown-label ui-inputtext ui-corner-all" [hidden]="modoedicao">{{data_ANALISE | date: 'yyyy-MM-dd'}}</label>
                    <input [hidden]="!modoedicao" style="width:80px; margin-left:30px; padding: 5px 4px;" [(ngModel)]="hora_ANALISE" [ngModelOptions]="{standalone: true}"
                      type="time" class="ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all" ng-reflect-ng-class="ui-inputtext ui-widget ui-stat"
                      required="true" placeholder="hh:mm">
                    <label style="width:70px;" class="ng-tns-c3-11 ui-dropdown-label ui-inputtext ui-corner-all" [hidden]="modoedicao">{{hora_ANALISE}}</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group form-black label-floating">
                    <label style="font-size: 14px;">Linha</label>
                    <p-dropdown (onChange)="preenche_banhos($event)" [options]="linhas" [style.background]="cor_linha" [style]="{'width':'100px'}" [(ngModel)]="linha" [ngModelOptions]="{standalone: true}" [disabled]="!novo"
                      [required]="true"></p-dropdown>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group form-black label-floating">
                    <label style="font-size: 14px;">Banho</label>
                    <p-dropdown [filter]="true" [options]="banhos" [style]="{'width':'300px'}" [(ngModel)]="banhos_valor" [ngModelOptions]="{standalone: true}"
                      (onChange)="nome_tinas($event)" [disabled]="disablebanho" [required]="true"></p-dropdown>
                    <label style="font-size: 14px;">Tina: </label>
                    <span style="font-size: 12px; padding-right: 20px;"><b> {{nome_tina}}</b></span>
                    <span style="font-size: 12px; padding-right: 20px;"><b> {{capacidade_tina}} L</b></span>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group form-black label-floating">
                    <label style="font-size: 14px;">Análise Interna/Externa</label>
                    <p-dropdown [options]="tipo_analise" [(ngModel)]="analise_valor" [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao"
                      [required]="true"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <div [ngClass]="obs == '' ? 'is-empty' : null" class="form-group form-black label-floating">
                      <label class="control-label">Observações</label>
                      <textarea class="form-control" rows="3" [(ngModel)]="obs" [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class=" form-black label-floating" style="padding-top: 11px;">
                    <label class="pull-left" style="font-size: 14px; color:black;">Célula HULL</label>
                    <div class="material-switch pull-left">
                      <input id="someSwitchOptionSuccess" type="checkbox" [(ngModel)]="celula" [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao">
                      <label for="someSwitchOptionSuccess" class="label-success" style="margin-left: 24px;"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p-dataTable [value]="banho_componentes">
                    <p-column field="nome_comp" header="COMPONENTE">
                      <ng-template pTemplate="body" let-col let-row="rowData ">
                        <label class="ng-tns-c3-11 ui-dropdown-label ui-inputtext ui-corner-all">{{row['nome_comp']}}</label>
                      </ng-template>
                    </p-column>
                    <p-column field="resultado" header="RESULTADO">
                      <ng-template pTemplate="body" let-col2 let-row2="rowData ">
                        <input type="text" style="text-align:center"class="form-control" [(ngModel)]="row2['resultado']" [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao">
                      </ng-template>
                    </p-column>
                    <p-column field="calculo" header="CÁLCULO">
                      <ng-template pTemplate="body"  let-col3 let-row3="rowData ">
                        <input type="text" style="text-align:center" class="form-control" [(ngModel)]="row3['calculo']" [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao">
                      </ng-template>
                    </p-column>
                  </p-dataTable>
                </div>
              </div>
              <button type="reset" (click)="backview()" class="btn btn-danger pull-right" [hidden]="!modoedicao">Cancelar</button>
              <button type="submit" class="btn btn-success pull-right" [hidden]="!modoedicao">Gravar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-danger btn-block" #inputnotifi [hidden]="true" onclick="demo.showNotification('top','right','Inseriu com Sucesso!',2)"></button>
<button class="btn btn-danger btn-block" #inputgravou [hidden]="true" onclick="demo.showNotification('top','right','Alterado com Sucesso!',2)"></button>
<button class="btn btn-danger btn-block" #inputapagar [hidden]="true" onclick="demo.showNotification('top','right','Apagado com Sucesso!',2)"></button>
<button class="btn btn-danger btn-block" #inputerro [hidden]="true" onclick="demo.showNotification('top','right','ERRO!! Registo não foi Gravado!',4)"></button>

<button #dialog data-toggle="modal" [hidden]="true" data-target="#dialog_novo_componente_banho"></button>